/* CSS is how you can add style to your website, such as colors, fonts, and positioning of yourhttps://iso-bel.neocities.org/style.css
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */
            /* user styles */

            /* styles are what change the color and sizes of stuff on your site. */

            /* these are variables that are being used in the code
    these tended to confuse some people, so I only kept 
    the images as variables */

            :root {
                --header-image: url('https://iso-bel.neocities.org/misc_resources/bg-new.jpg');
                --body-bg-image: url('https://iso-bel.neocities.org/misc_resources/bg-new.jpg');

                /* colors */
                --content: #142616;
            }

            /* if you have the URL of a font, you can set it below */
            /* feel free to delete this if it's not your vibe */

            /* this seems like a lot for just one font and I would have to agree 
    but I wanted to include an example of how to include a custom font.
    If you download a font file you can upload it onto your Neocities
    and then link it! Many fonts have separate files for each style
    (bold, italic, etc. T_T) which is why there are so many!
    
    */

@font-face {
    font-family: Imperator;
    src: url('https://iso-bel.neocities.org/fonts/Imperator.ttf');        
}
@font-face {
    font-family: Imperator_Plaque;
    src: url('https://iso-bel.neocities.org/fonts/ImperatorPlaque.woff2');
}
@font-face {
    font-family: Underground;
    src: url('https://iso-bel.neocities.org/fonts/LondonUndergroundRegular.ttf');
}
@font-face {
    font-family: Imperator_Bronze;
    src: url('https://iso-bel.neocities.org/fonts/ImperatorBronze.ttf');
}


body {
    font-family: 'Imperator', serif;
    line-height: 1.15;
    margin: 0;
    background-color: #142616;
    /* you can delete the line below if you'd prefer to not use an image */
    background-size: 60px;
    color: #000000;
    background-image: var(--body-bg-image);
}

* {
    box-sizing: border-box;
}

/* below this line is CSS for the layout */

/* this is a CSS comment
to uncomment a line of CSS, remove the * and the /
before and after the text */


/* the "container" is what wraps your entire website */
/* if you want something (like the header) to be Wider than
the other elements, you will need to move that div outside
of the container */
#container {
    max-width: 1100px;
    /* this is the width of your layout! */
    /* if you change the above value, scroll to the bottom
and change the media query according to the comment! */
    margin: 0 auto;
    /* this centers the entire page */
}

            /* the area below is for all links on your page
    EXCEPT for the navigation */
            #container a {
                color: #000000;
                /* if you want to remove the underline
      you can add a line below here that says:
      text-decoration:none; */
            }

            #header {
                width: 100%;
                transform: translate(-0%);
                background-color: #000000;
                /* header color here! */
                max-height: 160px;
                /* this is only for a background image! */
                /* if you want to put images IN the header, you can add them directly to the <div id="header"></div> element! */
                background-image: var(--header-image); 
                background-position: center bottom 30%;
                background-size: 100%;
                background-repeat: no-repeat;
                font-family: 'Imperator_Plaque';
                font-size: 40px;
                color: #FFFFFF; 
                display: flex;
                border: 2px;
                border-color: #000000;
                border-style: inset;
                align-items: center;
                flex-direction: column;
                justify-content: center; 
                position: relative;
                margin-top: 8px;

            }
            
            
            /* just remove the below commented out part to put the ISO/BEL text back to being in the two corners*/
                  
            /*.header-top-left {
                align-self: flex-start;
            }

            .header-bottom-right {
                align-self: flex-end;
            }*/
            
            
            #header-ISOBEL img {
              
              transition: filter 0.2s ease, transform 0.2s ease ;
            -webkit-user-select: none; /* Safari */
            -ms-user-select: none; /* IE 10 and IE 11 */
            user-select: none; /* Standard syntax */
            transform: scale(0.27);

            }
            
            #header-ISOBEL img:hover {
              filter: opacity(0.95);
              transform: scale(0.31);
            }

            
            /* this is the ISO / BEL logo on the page       */
            #iso_bel {
              
              filter: drop-shadow(0px 5px 10px rgb(0, 0, 0)) opacity(1);
              transition: filter 0.5s ease;
            -webkit-user-select: none; /* Safari */
            -ms-user-select: none; /* IE 10 and IE 11 */
            user-select: none; /* Standard syntax */

            }
            

            /* navigation section!! */
            #navbar {
                height: 40px;
                background-color: #BFB294;
                /* navbar color */
                width: 100%;
                margin-top: 10px;
                margin-bottom: 10px;
                filter: drop-shadow(1px 2px 3px rgba(129, 129, 129, 0.5));

                
            }

            #navbar ul {
                display: flex;
                padding: 0;
                margin: 0;
                list-style-type: none;
                justify-content: space-evenly;

            }

            #navbar li {
                padding-top: 10px;
            }

            /* navigation links*/
            #navbar li a {
                color: #000000;
                /* navbar text color */
                font-weight: 400;
                text-decoration: none;
                /* this removes the underline */
            }

            /* navigation link when a link is hovered over */
            #navbar li a:hover {
                color: #FFFFFF;
                text-decoration: underline;
            }

            #flex {
                display: flex;
            }

            /* this colors BOTH sidebars
    if you want to style them separately,
    create styles for #leftSidebar and #rightSidebar */
            aside {
                background-color: #BFB294;
                width: 190px;
                padding: 10px;
                font-size: smaller;
                border-right: 1px;
                border-right-style: solid;
                border-right-color: black;

                /* this makes the sidebar text slightly smaller */
            }



            main {
                background-color: #DCD6C9;
                flex: 1;
                padding: 20px;
                order: 2;
                filter: drop-shadow(1px 2px 3px rgba(129, 129, 129, 0.5));

            }

            #leftSidebar {
                order: 1;
                color: black;
                padding: 13px;
                font-weight: lighter;
                text-decoration: none;
                list-style: square;
            
            }
                
            #leftSidebar a {
                order: 1;
                color: black;
                text-decoration: none;

            }

            #hidesidebarbutton {
                cursor: pointer;
            }

            /* Style the button that is used to open and close the collapsible content */
        .collapsible {
        background-color: #DCD6C9;
        background-size: 30px;
        background-position: 30%, 43%;
        border: 1px solid #DCD6C9;

        color: #000000;
        cursor: crosshair;
        padding: 8px;
        width: 100%;
        border: none;
        text-align: justify;
        outline: none;
        font-size: 15px;
        
        font-weight: 600;
        font-family: 'Imperator';
        transition: transform 0.2s ease;
        /*transition: background-color 0.05s ease;*/
        }

        /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
        .active, .collapsible:hover {

                background-image: url(/misc_resources/bg-dimmed.png) !important;
        color: #E9E4D8 !important;
        border: 2px inset #000000;
        transform: scale(1.015, 1);
        font-weight: 750;

        }

        /* Style the collapsible content. Note: hidden by default */
        .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        text-align: justify;


        }




            ul {
              list-style: square;
            }
            .homebutton {
            
                            font-family: 'Imperator_Plaque';
                            font-size: 20px;
                            color: white;
            }

            footer {
                background-color: #BFB294;
                width: 100%;
                min-height: 20px;
                text-align: right;
                vertical-align: top;
                font-size: 9pt;
                border-top-width: 1px;
                border-top-style: solid;
                border-top-color: #000000;
                padding: 3px;
                padding-right: 15px;
                z-index: 1;
                font-style: italic;
                margin-top: 10px;
                filter: drop-shadow(1px 2px 3px rgba(0, 0, 0, 0.5));


            }
            
            #footer a {
                color: black;
                /* navbar text color */
                text-decoration: none;
                font-size: 9pt;
                font-weight: normal;

            }
            
            #random-quote {

                display:flex;
                align-content:center;
                justify-content: space-between;
                text-align: right;

            }

            h1,
            h2,
            h3 {
                color: #000000;
            }

            h1 {
                font-size: 25px;
                font-family: Imperator_Bronze;
                margin-bottom: 0px;
            }

            strong {
                /* this styles bold text */
                color: #000000;
            }

            .box {
                background-color: #E9E4D8;
                border: 1px solid #000000;
                padding: 10px;
                margin: 10px
            }
            
            .updates {
                background-color: #DCD6C9;
                border: 6px none #000000;
                padding: 7px;
                margin: 0px
            }

            /* CSS for extras */

            #topBar {
                width: 100%;
                height: 30px;
                padding: 10px;
                font-size: smaller;
                background-color: #13092D;
            }


            /* BELOW THIS POINT IS MEDIA QUERY */

            /* so you wanna change the width of your page? 
    by default, the container width is 900px.
    in order to keep things responsive, take your new height,
    and then subtrack it by 100. use this new number as the 
    "max-width" value below
    */

            @media only screen and (max-width: 1000px) {
                #flex {
                    flex-wrap: wrap;

                }

                aside {
                    width: 100%;

                }

                /* the order of the items is adjusted here for responsiveness!
      since the sidebars would be too small on a mobile device.
      feel free to play around with the order!
      */
                main {
                    order: 1;
                }

                #leftSidebar {
                    order: 2;
                }

                #rightSidebar {
                    order: 3;
                }

                #footer {
                    order: 5;
                }


                #navbar ul {
                    flex-wrap: wrap;
                }
            }



        .sitemap {
            transition: color 0.1s ease;
            transition: translate 0.1s ease;}
        .sitemap a {
            transition: color 0.2s ease;
            transition: translate 0.1s ease;}
        .sitemap:hover {
            color: white !important;
            translate: 4%
        }
        .sitemap:hover a {
            color: white !important;
            translate: 4%

        }

        .whitelinks {
            transition: color 0.1s ease;
            transition: translate 0.1s ease;
            cursor: pointer}
        .whitelinks a {
            transition: color 0.2s ease;
            transition: translate 0.1s ease;}
        .whitelinks:hover {
            color: white !important;
            translate: 1.5%
        }
        .whitelinks:hover a {
            color: white !important;
            translate: 1.5%

        }




        /*changes the logos based on whether you're hovering over them*/
        #tumblrlogo, #letterboxdlogo, #discordlogo, #goodreadslogo, #emaillogo {
            display: inline-block;
            width: 30px;
            height: 30px;
            background-size: cover;
            transition: background-image 10s ease;
            transition: transform 1s ease;

        }

        #tumblrlogo:hover, #letterboxdlogo:hover, #discordlogo:hover, #goodreadslogo, #emaillogo:hover{

            transform: scale(1.1);

        }

        #tumblrlogo {
            background-image: url('/misc_resources/social_logos/tumblr2.png');
        }

        #tumblrlogo:hover {
            background-image: url('/misc_resources/social_logos/tumblr.png');
        }

        #letterboxdlogo {
            background-image: url('/misc_resources/social_logos/letterboxd2.png');
            background-size: cover;
        }

        #letterboxdlogo:hover {
            background-image: url('/misc_resources/social_logos/letterboxd.png');
        }


        #discordlogo {
            background-image: url('/misc_resources/social_logos/discord2.png');
            background-size: cover;
        }

        #discordlogo:hover {
            background-image: url('/misc_resources/social_logos/discord.png');
        }

        #goodreadslogo {
            background-image: url('/misc_resources/social_logos/goodreads2.png');
            background-size: cover;
        }

        #goodreadslogo:hover {
            background-image: url('/misc_resources/social_logos/goodreads.png');
        }



        #emaillogo {
            background-image: url('/misc_resources/social_logos/maillogo2.png');
            background-size: cover;
        }

        #emaillogo:hover {
            background-image: url('/misc_resources/social_logos/maillogo.png');
        }

