
*,
*::before,
*::after {
  box-sizing: border-box;
}

main {
    overflow: hidden;
}


header {
    display: none
}

h1 {
    margin: 0px
}

#contentWrapper {
    height: 100%;
    width: 100vw;
    display: flex
}

button {
    cursor: pointer
}

label {
    font-size: 9pt;
}

.flex {
    display: flex;
    justify-content: center;
    width: 100%;
}
.flexColumn {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: 5px;
}

.topLevelUi {
    padding: 15px;
    border: 1px dotted black;
    background-color: #00000010;
    margin: 10px;
    border-radius: 7px;
    height: 95vh;

}

    #searchArea {

        width: 15vw;
        display: flex;
        flex-direction: column;

    }


    .checkboxWrapper {
        display: flex;
        align-items: center;
        margin-top: 4px;
        margin-bottom: 4px;
        justify-content: space-between;
    }


    #companySearch {
        border-radius: 0px;
        width: 100%;
        border: 1px solid black;
        padding: 2px;

    }

    #searchResults {
        height: 100%;
        overflow: scroll;
        flex: 1;
        overflow-y: auto;

    }

    .searchResult {
        text-align: left;
        width: 100%;
        border: 0px;
        background-color: none;
        transition: transform 0.1s ease-in;
        margin-bottom: 2px;
        background-color: #00000000;
        border-bottom: 1px dotted black;
    }

    .searchResult:hover {
        color: white;
        cursor: pointer;
        transform: translateX(5px)
    }

    .inactivecompany {
        display: none;
    }

    /* when checkbox is ON, show them */
    .show-inactive .inactivecompany {
        display: block;
        color: grey
    }

    #companyDisplay {

        margin-left: 0px;
        margin-right: 0px;
        width: 40vw

    }

        .officerResults {
            width: 100%;
            overflow: scroll;
            max-height: 30vh;

        }

        .officerResult {

            text-align: left;
            width: 100%;
            border: 0px;
            background-color: none;
            transition: transform 0.1s ease-in;
            margin-bottom: 2px;
            background-color: #00000000;
            border-bottom: 1px dotted black;
        }

    #officerDisplay {
        width: 43vw
    }
