:root {
    --thumbnail-container-height: 40px;
    overflow: hidden;
}


#imageContainer {
    --imageHeight: calc(100vh - var(--header-height) - var(--header-padding-topandtail) * 2 - var(--thumbnail-container-height));
    display: flex;
    width: calc(100% - 20px);
    max-width: 100vw;
    overflow: hidden;
    justify-content: left;
    margin-left: 20px;
    border-left: 1px solid #00000070
}

    #imageWrapper {
        filter: drop-shadow(0px 0px 15px #00000015);
        height: -webkit-fill-available;
        width: 100%;
        max-width: 75vw;
        --imagewrapper-padding: 20px;
        padding-right: var(--imagewrapper-padding);
        padding-left: var(--imagewrapper-padding);
        background-color: var(--site-accent-color-transparent);
        background-size: cover;
        border-right: 1px dotted #00000040
    }

        #imageContainer img {
            max-height: calc(100vh - ((var(--header-padding-topandtail) * 2) + var(--header-height)));
            height: auto;
            width: auto;
            max-width: calc(75vw - (var(--imagewrapper-padding) * 2));
            object-fit: contain;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            border-left: 1px solid black;
        }


    #rightHandSideWrapper {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        height: auto;
        justify-content: space-between;
        width: 100%;
        max-width: 25vw;
    }

        #imageInfo {
            padding: 20px;
            border-left: 2px groove #000000;
            height: fit-content;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-align: left
        }


            #imageTitle {
                padding-top: 10px;
            }



            #imageDate {
                border-bottom: 1px solid #00000070;
                width: 100%;
                padding-bottom: 13px
            }

            #imageDesc {
                max-width: 60vw;
            }

            #counterContainer {
                padding-bottom: 5px;
                border-bottom: 1px dotted #00000070
            }


            h3 {
                font-size: 17pt;
                padding: 0px;
                        margin: 0px
            }

            #imageDesc {
                font-size: 10pt;
            }



        #navButtonWrapper {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-bottom: calc(var(--thumbnail-container-height) * 3) /* this has a fucking weird interaction with the -webkit-fill-available in imageWrapper.
                                                                       i don't know why it's 3 either. but it seems to work so lets not worry about it.   */
        }


            .navButtons {
                font-size: 20px;
                border: none;
                background-color: #00000000 ;
                cursor: pointer;
            }

            #zoomButton {
                height: fit-content;
                width: fit-content;
                text-decoration: none
            }

#thumbnailContainer {
    width: 100%;
    display: flex;
    position: fixed;       /* sticks to viewport */
    bottom: 0;             /* at the bottom */
    left: 0;               /* full width */
    overflow-x: auto;      /* scroll horizontally if too many thumbnails */
    opacity: 0.1;
    transition: opacity 0.15s;
    cursor: crosshair;
    justify-content: right;
    --thumbnail-vertical-padding: 4px;
    padding-top: var(--thumbnail-vertical-padding);
    padding-bottom: var(--thumbnail-vertical-padding);
    opacity: 0.3;
    background-color: #00000000;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

    #thumbnailContainer:hover {
        opacity: 1;
        background-color: #00000040
    }

    .thumbnail {
        height: calc(var(--thumbnail-container-height) - ((var(--thumbnail-vertical-padding) / 2)));
        width: auto;
        margin-left: 3px;

        opacity: 0.25;
        border: 1px solid #ffffff70;
        transition: opacity 0.15s, brightness 0.15s;
    }

    .thumbnail:hover {
        opacity: 1;
        z-axis: 100;
        filter: brightness(1.15);
        border-color: #ffffff90

    }
