#thumbnailContainer {
    --thumbnail-container-height: 40px;
    width: 100%;
    display: flex;
    position: fixed;       /* sticks to viewport */
    bottom: 0;             /* at the bottom */
    left: 0;               /* full width */
    overflow-x: auto;      /* scroll horizontally if too many thumbnails */
    opacity: 0.1;
    transition: opacity 0.15s;
    cursor: crosshair
}

#thumbnailContainer:hover {
    opacity: 1
}

.thumbnail {
    height: var(--thumbnail-container-height);
    width: auto;
    margin-left: 3px;
    padding-bottom: 5px;
    opacity: 0.4;
    transition: opacity 0.15s
}

.thumbnail:hover {
    opacity: 1
}

#imageContainer {
    --imageHeight: calc(100vh - var(--header-height) - var(--header-padding-topandtail) * 2 - var(--thumbnail-container-height));
    justify-content: left;
    display: flex;
    width: 100%;
    height: var(--imageHeight);
    max-height: var(--imageHeight);
    max-width: 100vw;
    overflow: hidden
}
#imageContainer img {
    max-height: calc(100vh - ((var(--header-padding-topandtail) * 2) + var(--header-height)));
    max-width: 75vw;
    height: auto;
    width: auto;
    position: relative;
    border-right: 1px solid black;
    border-bottom: 1px solid black
}

#imageContainer img::after {
    content: '';
    position: absolute;
    right: -1px;  /* Position just outside the image */
    top: 10px;    /* 10px gap from top */
    bottom: 10px; /* 10px gap from bottom */
    width: 1px;
    background-color: black;
}
#imageInfo {
    padding: 20px;
    margin-left: 20px;
    border-left: 1px solid #00000070;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    text-align: right
}

#imageDate {
    border-bottom: 1px solid #00000070;
    width: 100%
}

#imageDesc {
    max-width: 60vw;
}

#counterContainer {
    padding-bottom: 5px;
    border-bottom: 1px dotted #00000070
}


h3 {
    font-size: 17pt;
    padding: 0px;
             margin: 0px
}

#zoomButton {
    height: fit-content;
    width: fit-content;
    text-decoration: none
}

#imageDesc {
    font-size: 10pt;
}
