
@font-face {
    font-family: Imperator;
    src: url('../resources/fonts/Imperator.ttf');
}

body {
    font-family: 'Imperator', serif;
    max-width: 100vw;
    margin: 0 auto;
    line-height: 1.17;
    --site-background-color: #DCD6C9;
    --site-accent-color: #142616;
    : #14261609;
    --site-accent-color-transparent: #14261625;
    --site-accent-color-transparent-darker: #14261650;
    background-color: var(--site-background-color);
    font-size: 11pt;
    color: black;
    --header-padding-topandtail: 8px;
    --header-height: 50px;
    --header-total-height: calc((var(--header-padding-topandtail) * 2) + var(--header-height));
    --available-height: calc(100vh - var(--header-total-height));

}


header {

    font-size: 11pt;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    padding-bottom: var(--header-padding-topandtail);
    padding-top: var(--header-padding-topandtail);
    min-height: var(--header-height);
    top: 0;
    color: white;
    z-index: 100;
    background-color: var(--site-accent-color);
    filter: drop-shadow(0px 10px 10px #00000035);
    backdrop-filter: blur(10px);
    outline: 1px solid black;
}

header img {
    max-height: calc(var(--header-height) - 5px);
    width: auto;
    filter: drop-shadow(0px 0px 10px #00000085);

}
#routeWrapper {
    width: 50%;
}

#headerRouteForm {
    width: 100%;
}

.headerRouteDisplay {
    font-family: 'Imperator', serif;
    background-color: #00000000;
    width: 100%;
    border: none;
    color: white;
    font-size: 11pt;
    height: 100%;
    filter: drop-shadow(0px 10px 10px #00000035);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}




.flex {
    display: flex
}
header a {
    text-decoration: none;
    color: white;
}

.sociallinks {
    display: flex;
    flex-direction: column;
    text-align: right;
    filter: drop-shadow(0px 10px 10px #00000035);

}

hr {
    border-top: 1px solid #00000035;
    border-bottom: none;
    margin-top: 15px;
    margin-bottom: 15px;
}


nav a:hover {
    text-decoration: underline;
}

@font-face {
    font-family: Imperator;
    src: url('/static/resources/fonts/Imperator.ttf')

}

@font-face {
    font-family: ImperatorSmallCaps;
    src: url('/static/resources/fonts/ImperatorBronzeSmallCaps.ttf')
}


@font-face {
    font-family: ImperatorBronze;
    src: url('/static/resources/fonts/ImperatorBronze.ttf')
}

.quote {
    padding: 1vw;
    width: fit-content;
    z-axis: 10;
    position: relative;
    background-color: #00000009;
    border: 1px dotted #00000020;
    --corner-1px: borders solid var(--site-accent-color)
}


.quotecaption {
    font-style: italic;
    font-weight: bold;
    text-align: right;
    width: 100%;
    margin-top: 5px;
}
