.blogpost {
    width: 75vw;
    --blog-padding-sides: 1vw;
    --blog-padding-topandtail: 8px;
    margin-bottom: 0px;
    margin-top: 0px;
    transition: width 0.1s;
}

.blogpost a {
    color: inherit
}

.blogtitle {
    padding-top: var(--blog-padding-topandtail);
    padding-bottom: var(--blog-padding-topandtail);
    padding-left: 20px;
    padding-right: var(--blog-padding-sides);
    position: sticky;
    z-index: 50;
    align-items: end;
    top: calc((var(--header-padding-topandtail) * 2) + var(--header-height));
    cursor: crosshair;
    border-bottom: 1px solid #00000020;
    transition: transform 0.1s ease-out;
}

.blogtitle:hover {
    transform: translateX(0.5%)
}

.blogtitle.open {
    background-color: var(--site-accent-color);
    color: white;
    transform: scaleX(104%) translateX(1.9%);
    border: 3px outset #ffffff50;
    border-top: 4px outset #ffffff50;
    border-left: none;
    margin-top: 5px;
    box-shadow: 0 7px 10px rgba(0,0,0,.05);

}

.blogcontent {
    z-axis: 5;
    background-color: #00000007;
    padding-left: 50px;
    margin-left: 50px;
    padding-right: 50px;
    padding-top: var(--blog-padding-topandtail);
    padding-bottom: 30px;
    border:  1px dotted #00000040;
    border-top: none;
    margin-bottom: 15px;
    box-shadow: 0 7px 10px rgba(0,0,0,.02);
    width: calc(80vw - 140px);

}

.blogpost h3 {
    font-size: 12pt;
    margin: 0px;
    -webkit-user-select: none;  /* Safari */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* IE10+/Edge */
    user-select: none;          /* Standard */

}
.subtitle {
    width: 100%;
    text-align: center;
    font-size: 11pt;
    font-style: italic;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.publishDate {
    width: fit-content;
    text-align: right;
    font-size: 9pt;
    font-style: italic
}

.blogpost img {
    max-width: 360px;  /* Won't exceed 500px */
    width: 100%;       /* But scales down on small screens */
    height: auto;      /* Maintains aspect ratio */
    display: block;        /* Add this */
    margin-left: auto;     /* Add this */
    margin-right: auto;    /* Add this */
    margin-bottom: 7px;
}

.imagecaption {
    font-style: italic;
    font-size: 10pt;
    max-width: 360px;      /* Change from width to max-width */
    text-align: right;
    margin-left: auto;     /* Add this */
    margin-right: auto;    /* Add this */
}
