.blogpost {
    width: 75vw;
    --blog-padding-sides: 1vw;
    --blog-padding-topandtail: 8px;
    margin-bottom: 0px;
    margin-top: 0px;
    border-bottom: 1px dotted black;
}

.blogpost a {
    color: inherit
}

.blogtitle {
    padding-top: var(--blog-padding-topandtail);
    padding-bottom: var(--blog-padding-topandtail);
    padding-left: 20px;
    padding-right: var(--blog-padding-sides);
    transition: transform 0.1s
}

.blogtitle:hover {
    transform: translateX(1%)
}

.blogcontent {
    padding-left: 20px;
    padding-right: var(--blog-padding-sides);
      padding-top: var(--blog-padding-topandtail);
    padding-bottom: var(--blog-padding-topandtail);
}

.quote {
    padding: 1vw;
    width: fit-content;
    background-color: #00000010
}

.quotecaption {
    font-style: italic;
    font-weight: bold;
    text-align: right;
    width: 100%;
    margin-top: 5px;
}

.blogpost h3 {
    font-size: 14pt;
    margin: 0px;
    -webkit-user-select: none;  /* Safari */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* IE10+/Edge */
    user-select: none;          /* Standard */

}
.subtitle {
    font-size: 11pt;
    font-style: italic;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.publishDate {
    width: fit-content;
    text-align: right;
    font-size: 9pt;
    font-style: italic
}

img {
    max-width: 500px;  /* Won't exceed 500px */
    width: 100%;       /* But scales down on small screens */
    height: auto;      /* Maintains aspect ratio */
}

.imagecaption {
    font-style: italic;
    font-size: 10pt;
    width: 500px;
    text-align: right
}
