html {
    --global-padding: 1em;
    --accent-color: rgb(226, 150,174)
}

* {
    box-sizing: border-box;
}
body {
    background-color: rgb(38,38,38);
    color: white;
    margin: 0px;
    cursor: url('https://www.iso-bel.computer/static/resources/images/misc/trans_cursor.png'), auto;
    font-family: 'Tahoma';
}

a {
    cursor: pointer;

}

h1 {
    font-size: 40pt;
    margin: 0px

}

h2 {
    margin: 0px
}
header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    height: fit-content;
    border-bottom: 1px solid white;
    background-image: url("https://www.iso-bel.computer/static/resources/images/misc/paper_2.png");
    background-color: var(--accent-color);
    background-blend-mode: lighten;

    z-index: 10;
}
#siteTitle {

    filter: drop-shadow(0px 0px 3px #00000060);
    font-family: 'Syncopate';
    display: flex;
    align-items: center;
    font-size: 30pt;
    font-weight: bolder;
    transition: filter 0.1s ease-in;
}

#siteTitle:hover {
    filter: drop-shadow(2px 2px 5px #00000070);
}

header a {

    font-weight: bold;
    align-content: center;
    font-size: 12pt;
    height: 100%;
    background-color: rgba(38,38,38, 0.2);
    border-left: 1px solid #ffffff;
    padding: 11px;
    padding-left: 15px;
    font-family: 'Syncopate';
    padding-right: 15px;
    transition: background-color 0.1s ease-in, color 0.1s ease-in;
}



.transflagwhite:hover {

    background-color: rgba(266, 266, 266, 0.8);
    color: rgba(38,38,38, 0.8);
}
.transflagblue:hover {

    background-color: rgba(91, 206, 250, 0.8)
}

.transflagpink:hover {

    background-color: rgba(245, 169, 184, 0.8)
}
main {
    display: flex;
}

#sidebar {
    border-left: 1px solid white;
    background-color: rgb(72, 115, 132, 0.8);
}
#sidebar img {
    border-bottom: 1px solid white;
    width: 35vw;
}

#sidebar #belowImage {
    padding: 10px;
    font-family: 'Syncopate';
    text-align: center;
}

#content {

    font-family: 'Syncopate';

    position: relative;
    overflow: hidden;
    background-image: linear-gradient(0deg,rgba(91, 206, 250, 0.2) 0%, rgba(245, 169, 184, 0.2) 51%, rgba(255, 255, 255, 0.2) 100%);
    width: 100%
}

#content:after {

      /* content is required when using :after */
    content: "";
    /* The grainy image */
    background-image: url("https://www.iso-bel.computer/static/resources/images/misc/paper_1.png");
    /* Specify a height and width above and beyond the page header for movement */
    height: 300%;

    width: 300%;
    top: 0;
    left: 0;
    /* We're using opacity in place of a transparent image */
    opacity: 0.3;
    /* We'll need this when the animation kicks in to hold the position of the texture */
    position: absolute;
pointer-events: none;

}

#heropage {

    padding: 40px;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center
}
#countdownLabel {
    filter: drop-shadow(2px 2px 3px #00000030);
}
#countdown {
    filter: drop-shadow(0px 0px 5px #00000070);
    font-family: 'Tahoma';
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 60pt;
    font-weight: bold;
}

#news {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    height: fit-content;
    padding: 20px;
    width: 50%;
    border-right: 1px solid white;
    max-height: 50vh;
    border-top: 1px solid white;
    overflow: scroll;
}

#news h3 {
    font-size: 16pt;
    margin: 0px
}



.newsItem {

    font-family: 'Tahoma';
    width: 100%;
    flex-shrink: 0;
    margin-bottom: 20px;
    font-size: 10pt;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 10px;

    transition: background-color 0.1s ease-in;
    overflow: scroll;
    background-color: #00000020;
}

.newsItem:hover {

    background-color: #00000050;
}

#thirdbox {
    display: flex;
    flex-wrap: nowrap;
    height: fit-content;
    padding: 10px;
    width: 50%;
    border-top: 1px solid white;
    overflow: scroll;
}

#donationWidget {
    width: 150px;
    margin-top: 10px
}

footer {
    background-image: url("https://www.iso-bel.computer/static/resources/images/misc/paper_2.png");
    border-top: 1px solid white;
    font-size: 7pt;
    padding: var(--global-padding);
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end
}

#donationButton {
    cursor: pointer;
    border-radius: 15px;
    border: 1px solid rgb(213,247,154);
    background-color: rgb(47,73,54);
    width: 120px;
    padding: 10px;
}

#donationButton a {

    color: rgb(213,247,154) ;
    text-decoration: none;
}

#donationButton:hover {

    background-color:rgb(213,247,154);
}
#donationButton:hover a {

    color: rgb(47,73,54);
}

#footer a {
    color: white;
    text-decoration: none;
}

footer #socials {
    display: flex;
    filter: saturate(80%);
    justify-content: space-evenly;
    align-items: center;
}

#socials img {
    width: 30px;
    height: auto
}

.socialEl {
    align-content: center;
    margin-right: 10px;
}
