
main {
    display: flex;
    justify-content: center;
}

#homepageContent {
    padding: 2em;
    width: 80%;
    background-color: #00000010;
    min-height: -webkit-fill-available
}


#smalltext {
    font-size: 9pt;
    font-style: italic;
    text-align: right;
}
