header {
    display: none
}

html, body {
    height: 100%;
    overflow: hidden;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#poetryWrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#poemDisplaySquare {
    min-width: 35vw;
    min-height: 1vh;
    max-width: 94vh;
    max-height: 94vh;
    font-size: 14pt;
    overflow: hidden;
    cursor: crosshair;
    box-sizing: border-box;
    position: relative;
    border: 2px inset black;
}


#poem {


    position: absolute;
    white-space: nowrap;
    color: hsl(45,72%,89%);
}

button {
    position: absolute;
    width: calc((100vw - 96vh) / 2);
    height: 100vh;
    font-size:200pt;
    display: flex;
    color: white;
    background-color: #00000000;
    align-items: end;
    overflow: visible;
    border: none;
    opacity: 0;
    padding: 0px;

}
/* Move only the text */
button span {
    position: relative;
    pointer-events: none;
    line-height: 1;
    bottom: -5vh;
    font-family: 'Imperator'

}

button:hover {
    opacity: 0.4
}

button:active {
    opacity: 1
}

#back {
    top: 0vh;
    left: 0vw;
    justify-items: left;
    align-items: start;
}


#forward {
    bottom: 0vh;
    right: 0vw;
    justify-content: flex-end;
    text-align: right;

}


#canvas {
    width: 0px;
    height: 0px;
}
