
#content {
    display: flex;
}


    #seperator {
        width: 1px;
        padding-right: 14px;
    }

    #bookshelfOuterWrapper {
        border-left: 1px dotted var(--site-accent-color);
        width: 25%;
        min-width: 300px;
        max-height: calc(100vh - var(--header-total-height));
        padding-right: 28px;
        padding-left: 12px;
        background-color: #00000035;
        border-right: 1px dotted var(--site-accent-color-transparent);
    }

        #bookshelfWrapper {
            max-height: calc(100vh - var(--header-total-height) - 70px);
            overflow: scroll;
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
            display: flex;
            align-items:  end;
            flex-wrap: wrap;
            padding-top: 60px;
            padding-bottom: 10px;
            border-right: 1px solid var(--site-accent-color);
            border-left: 1px solid var(--site-accent-color);
            cursor: crosshair;
            filter: brightness(0.7);
            transition: filter 1s
        }

            #bookshelfWrapper:hover {
                filter: brightness(1)
            }

            #bookshelfWrapper::-webkit-scrollbar {
                display: none;
            }

            #bookshelfWrapper p {
                font-style: italic;
                width: 100%;
                text-align: right;
                font-size: 8pt;
                margin: 10px;
                color: #ffffff70;
            }

            .bookSpine {
                writing-mode: vertical-rl;
                text-orientation: mixed;
                font-size: 9pt;
                transform:
                    rotate(var(--book-rotate, 0turn))
                    scale(var(--book-scale, 1))
                    translateY(3px);

                --transition-time: 0.3s;
                transition: transform var(--transition-time),
                            border var(--transition-time),
                            filter var(--transition-time),
                            margin var(--transition-time);
                display: flex;
                padding: 9px;
                justify-content: space-between;
                filter: brightness(0.85);
                display: flex;
                cursor: grab;
                margin-top: 15px;
            }

            .bookSpine:hover {
                transform: translateY(var(--book-raise));
                --book-rotate: 0turn !important;
                --book-scale: 1.04;
                filter: brightness(1);
                z-index: 80 !important;
            }


            .bookSpine:active {
                transform: translateY(calc(var(--book-raise) * 2.5));
                --book-scale: 1.06;
                filter: brightness(1.12);
                cursor: grabbing
            }
            .bookSpine::after {
                content: "";
                position: absolute;
                inset: 0;
                background: linear-gradient(#00000000, #00000020);
                pointer-events: none;

                box-shadow:
                    0px 9px 13px #00000095;
            }
            .bookAuthor {
                margin-top: 10px;
                -webkit-user-select: none;  /* Safari */
                -moz-user-select: none;     /* Firefox */
                -ms-user-select: none;      /* IE10+/Edge */
                user-select: none;          /* Standard */
                text-align: right /* only really for when the text wraps */
            }

            .shelf {
                width: 100%;
                height: 14px;
                border-top: 2px outset #24201b;
                border-bottom: 2px outset #24201b;
                background: linear-gradient(#302b24, #24201b);
                flex-basis: 100%; /* Forces shelf to take full width */
                z-index: 99999;
                box-shadow: 0 7px 10px rgba(0,0,0,.55);
            }

    #rightHandSideWrapper {
        height: fit-content;
        width: 75%;
        border-left: 1px inset var(--site-accent-color);

    }
        #bookInfo {
            padding-left: 25px;
        }

            #bookInfo a {
                color: black;
                text-decoration-line: none;
            }
