td {
    padding: 5px;
}

header {
    display: none
}
#debugDiv {
    display: flex;
    align-items: flex-start;
    background-color: black;

}

table {
    padding: 20px;
    font-size: 8pt;
    filter: saturate(0.7);

    width: 100%;
    height: auto
}

.atStation {

    filter: saturate(0.5) brightness(0.8);
}



.victoria {
    background-color: #0098D4
}

.jubilee {
    background-color: #A0A5A9
}

.metropolitan {

    background-color: #9B0056;
    color: white
}
.piccadilly {
    background-color: #003688;
    color: white;
}
.district {
    background-color: #00782A;
    color: white;
}
.hammersmith-city {
    background-color: #F3A9BB;
}
.circle {
    background-color: #FFD300;
}
.central {
    background-color: #E32017;
    color: white
}
.bakerloo {
    background-color: #B36305
}
.northern {

    background-color: black;
    color: white
}
