html {

    background-color: #414542;
}

body {
    margin: 0px;
}


header {
    display: none
}
#debugDiv {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    padding: 5px;
    width: 100%;
}

#tableDiv {
    max-height: 98vh;
    width: 30vw !important;
    overflow: scroll;
    margin-right: 5px;
}
#tableDiv2 {
    max-height: 98vh;
    width: fit-content !important;
    overflow: scroll;
}
td {
    padding: 5px;
    filter: saturate(0.7) brightness(0.8);
}
table {
    font-size: 6pt;
    width: 100%;
    max-height: 50vh;
    overflow: scroll
}



.victoria {
    background-color: #0098D4
}

.jubilee {
    background-color: #A0A5A9
}

.metropolitan {

    background-color: #9B0056;
    color: white
}
.piccadilly {
    background-color: #003688;
    color: white;
}
.district {
    background-color: #00782A;
    color: white;
}
.hammersmith-city {
    background-color: #F3A9BB;
}
.circle {
    background-color: #FFD300;
}
.central {
    background-color: #E32017;
    color: white
}
.bakerloo {
    background-color: #B36305
}
.northern {

    background-color: black;
    color: white
}

#inTransitTable {
    font-size: 5pt;
}

.idCell {
    width: min-content;
    width: 20px;
}

.timeCell {
    padding-right: 15px;
    text-align: right;
    width: 40px;
}

#atStationTable {
    width: 100%;
    font-size: 5pt;
    filter: saturate(0.7) brightness(0.9);
}

.rowFlash {
    opacity: 1 !important;
    filter: saturate(1) brightness(1) !important;
    color: red !important;
    font-weight: bold !important;
    background-color: red !important;
}
