<p style='margin-top: 0px'>
    Isobel Hemmings <i>has been reterritorialized</i>.
</p><p>
    Izzy is interested in the ways that systems work, how they make themeselves illegible and their subjects legible, and how they can be improved and evaded.
</p><p>
    She works in social housing policy, takes photos and makes darkroom and digital prints, draws, models, and codes in javascript & python.
</p><p>
    She lives in South London, and is a member of the London Permacomputing Club.
</p><p>
    She has previously lived in Sheffield, Philadelphia USA, Bolton, Lampeter, Stafford, and Brighton.
</p><p>
    Since becoming trans for attention, she has neglected her day job and CPD, and devoted her time to various analogue and digital bullshit. She's not sure why she's talking in the third person right now.
</p>
