<style>
</style>

<div id='folderwrapper'>
    <div class='folderfile'>
        <a href='https://www.iso-bel.computer/art/drawing'>
            <img class="foldericon" title="Assorted life drawings." src='{{ url_for("static", filename="resources/homepage/art.png") }}'>
        </a>
        <div class='folderlabel'>Drawing</div>
    </div>

    <div class='folderfile'>
        <a href='http://www.iso-bel.computer/art/photography'>
            <img class="foldericon" title="Assorted photography." src='{{ url_for("static", filename="resources/homepage/camera.png") }}'>
        </a>
        <div class='folderlabel'>Photography</div>
    </div>

    <div class='folderfile'>
        <a href='http://www.iso-bel.computer/art/prints'>
            <img class="foldericon" title="Assorted digital prints." src='{{ url_for("static", filename="resources/homepage/prints.png") }}'>
        </a>
        <div class='folderlabel'>Prints</div>
    </div>

    <div class='folderfile'>
        <a href='http://www.iso-bel.computer/writing/poetry'>
            <img class="foldericon" title="Assorted poetry." src='{{ url_for("static", filename="resources/homepage/poems.png") }}'>
        </a>
        <div class='folderlabel'>Poetry</div>
    </div>

    <div class='folderfile'>
        <a href='http://www.iso-bel.computer/blog'>
            <img class="foldericon" title="Blog posts." src='{{ url_for("static", filename="resources/homepage/writing.png") }}'>
        </a>
        <div class='folderlabel'>Blog</div>
    </div>
</div>
