<style>
</style>

<div id='folderwrapper'>
    <div class='folderfile'>
        <a href='https://1sobel.pythonanywhere.com/art/drawing'>
            <img class="foldericon" title="Assorted life drawings." src='{{ url_for("static", filename="resources/homepage/art.png") }}'>
        </a>
        <div class='folderlabel'>$ ECHO 'YWABM'</div>
    </div>

    <div class='folderfile'>
        <a href='http://1sobel.pythonanywhere.com/art/photography'>
            <img class="foldericon" title="Just Because You're Paranoid Doesn't Mean They Aren't Watching You" src='{{ url_for("static", filename="resources/homepage/JBYPIcon.png") }}'>
        </a>
        <div class='folderlabel'>Just B/C You're Paranoid</div>
    </div>

    <div class='folderfile'>
        <a href='http://1sobel.pythonanywhere.com/art/prints'>
            <img class="foldericon" title="ISOLATION ⚧ ANTEBELLUM" src='{{ url_for("static", filename="resources/homepage/isoanteIcon.png") }}'>
        </a>
        <div class='folderlabel'>ISOLATION ANTE-BELLUM</div>
    </div>

</div>
