<div id='folderwrapper'>
    <div class='folderfile'>
        <a href='https://www.iso-bel.computer/YWABM'>
            <img class="foldericon" title="$ ECHO 'YOU WILL ALWAYS BE MINE'" src='{{ url_for("static", filename="resources/homepage/ywabmicon.png") }}'>
        </a>
        <div class='folderlabel'>ECHO 'YWABM'</div>
    </div>

    <div class='folderfile'>
        <a href='http://www.iso-bel.computer/paranoid'>
            <img class="foldericon" title="Just Because You're Paranoid Doesn't Mean They Aren't Watching You" src='{{ url_for("static", filename="resources/homepage/JBYPIcon.png") }}'>
        </a>
        <div class='folderlabel'>Just B/C You're Paranoid</div>
    </div>

    <div class='folderfile'>
        <a href='http://www.iso-bel.computer/isoante'>
            <img class="foldericon" title="ISOLATION ⚧ ANTEBELLUM" src='{{ url_for("static", filename="resources/homepage/isoanteIcon.png") }}'>
        </a>
        <div class='folderlabel'>ISOLATION ANTE-BELLUM</div>
    </div>

</div>
