
<style>
        #bookInfo {
            padding: 0px !important;
            height: 100% !important;
        }
        #bookTitle {
            margin: 0px !important;
        }
        #content
</style>
        <div id="bookInfo">
            <h1 id='bookTitle'>Title</h1>
            <h3 id="bookAuthor">Author</h3>
            <div id="supp">
                <i><a target="_blank" id="zlibLink">️🏴‍☠️</a>
                <a target="_blank" id="worldCatLink">🌍</a></i>
                <i id="readDate">-/-/-</i>
            </div>
            <section id='review'>Select a book...</section>
        </div>
