
<div style='display:flex'>
<canvas id='defectionCanvas' ></canvas>
<script>

document.addEventListener('DOMContentLoaded', event => {

 // importing exactly what the backend gives us
 const defectionEvents = [{% for event in defectionEvents %}{{ event|tojson|safe }}{% if not loop.last %},{% endif %}{% endfor %}]
 // getting the furthest back date we have a record for
 const lastDate =  {% for event in defectionEvents %}{% if loop.last %}{{ event["prettyDate"]|tojson|safe }};{% endif %}{% endfor %}

function getNetMovement(partyName) {
    return defectionEvents.reduce((num, event) => {
        if (event.partyTo === partyName) return num + 1;
        if (event.partyFrom === partyName) return num - 1;
        return num;
    }, 0)
}

 let partyTotals = {

    "labour": getNetMovement('labour'),
     "libdem": getNetMovement('liberal democrats'),
     "green": getNetMovement('green'),
     "tory": getNetMovement('conservative'),
     "reform": getNetMovement('reform'),
     "independent": getNetMovement('independent')
 }

const defectioncanvas = document.getElementById("defectionCanvas");
const defectionctx = defectioncanvas.getContext("2d");

function resizeCanvas() {
    const dpr = window.devicePixelRatio || 1;
    const rect = defectionCanvas.getBoundingClientRect();

    defectionCanvas.width = rect.width * dpr;
    defectionCanvas.height = rect.height * dpr;

    defectionctx.scale(dpr, dpr);
}



function drawBars() {


    let partyColours = {

        "labour": '#dc3545',
        "libdem": '#faa61a',
        "green": '#6ab023',
        "tory":  '#0087dc',
        "reform": '#12b6cf',
        "independent": "#dcdcdc"
    }

    barYStart = 0
    barHeight = 11
    barGap = 4
    totalReqHeight = Object.keys(partyTotals).length * (barHeight + barGap) - barGap
    defectionCanvas.style.height = `${totalReqHeight}px`
    defectionCanvas.style.width = `${document.querySelector('.windowdefectionscontent').getBoundingClientRect().width / 4}px`
    resizeCanvas()
    const midpoint = defectioncanvas.getBoundingClientRect().width / 2
    Object.keys(partyTotals).forEach(function(key) {

        let barWidth = partyTotals[key] * 10
        // making sure something is visible if there is low net movement.
        if (barWidth == 0) {barWidth = 1}

        defectionctx.fillStyle = `${partyColours[key]}`;
        defectionctx.beginPath(); // Start a new path
        defectionctx.rect(midpoint, barYStart, barWidth, barHeight)
        defectionctx.fill(); // Render the path
        defectionctx.beginPath(); // Start a new path
        defectionctx.fillStyle = `black`;
        defectionctx.font = "8px sans-serif";
        defectionctx.fillText(`${partyTotals[key]}`, 10, barYStart + barGap + 5);
        defectionctx.fill(); // Render the path

        barYStart += barHeight + barGap
    })

 }
 drawBars()

 })
</script>
<div id='defectionTableWrapper'>

<table id='defectionTable'>

{% for event in defectionEvents %}

    <tr>
        <td>
            {{ event['prettyDate'] }}
        </td>


        <td>
            
        </td>
        <td>
            {{ event['councillorName']  }} ({{ event['council'] | replace('District','') | replace('Borough','') | replace('County','') | replace('Council','') }})
        </td>
        <td>
            <svg height="9" width="9" xmlns="http://www.w3.org/2000/svg">
                <circle r="3.5" cx="4.5" cy="4.5" class="dot-{{ event['partyFrom'] | replace(' ', '-') }}" />
            </svg>
        </td>
        <td>
            →
        </td>
        <td>

            <svg height="9" width="9" xmlns="http://www.w3.org/2000/svg">
                <circle r="3.5" cx="4.5" cy="4.5" class="dot-{{ event['partyTo'] | replace(' ', '-') }}" />
            </svg>
        </td>
    </tr>

{% endfor %}
</table>
</div>
<style>

#defectionCanvas {
 }

.windowdefectionscontent {
    padding-bottom: 0px;
 }

#defectionTableWrapper {
    max-height: 90px;
    overflow: scroll;
    border-left: 1px dotted black;

 }
#defectionTable td {
    padding-left: 3px;
    padding-right: 3px;

 }
 /* General style for all dots */
circle {
    stroke: rgba(0,0,0,0.8);
    stroke-width: 1;
    fill: #dcdcdc
}



/* Party specific colors */
.dot-labour { fill: #dc3545; }
.dot-conservative { fill: #0087dc; }
.dot-liberal-democrats { fill: #faa61a; }
.dot-reform { fill: #12b6cf; }
.dot-green { fill: #6ab023; }
</style>
</div>
