
<div style='display:flex;align-items:center'>
<div id='defectionTableWrapper'>
<table id='defectionTable'>



{% for event in defectionEvents %}

    <tr>
        <td>
            {{ event['prettyDate'] }}
        </td>


        <td>

        </td>
        <td>
            <div style='display: flex; justify-content: space-between'>
            <span>{{ event['councillorName']  }}</span><span class='councilSpan'><i>{{ event['council'] | replace('District','') | replace('Borough','') | replace('County','') | replace('Council','') | trim }}</i></span>
            </div>
        </td>
        <td>
            <svg height="9" width="9" xmlns="http://www.w3.org/2000/svg">
                <circle r="3.5" cx="4.5" cy="4.5" class="dot-{{ event['partyFrom'] | replace(' ', '-') }}" />
            </svg>
        </td>
        <td>
            →
        </td>
        <td>

            <svg height="9" width="9" xmlns="http://www.w3.org/2000/svg">
                <circle r="3.5" cx="4.5" cy="4.5" class="dot-{{ event['partyTo'] | replace(' ', '-') }}" />
            </svg>
        </td>
    </tr>

{% endfor %}
</table>
    <span id='defectionExplainer' style='font-size: 6pt'></span>
</div>
<canvas id='defectionCanvas' ></canvas>
<script>

document.addEventListener('DOMContentLoaded', event => {

 // importing exactly what the backend gives us
 const defectionEvents = [{% for event in defectionEvents %}{{ event|tojson|safe }}{% if not loop.last %},{% endif %}{% endfor %}]
 // getting the furthest back date we have a record for
 const lastDate =  {% for event in defectionEvents %}{% if loop.last %}{{ event["prettyDate"]|tojson|safe }};{% endif %}{% endfor %}

 document.getElementById('defectionExplainer').innerHTML = `<div style='padding: 3px; padding-bottom: 0px'>British local political defections & suspensions since ${lastDate}. </div><div style='padding: 3px; padding-bottom: 0px;padding-top:0px'>~Appx 89% coverage.</div><div style='padding: 3px; padding-top: 0px'><i><a style='color: darkblue'>Explain?</a>&nbsp<a style='color: darkblue'>Data?</a></i></div>`


function getNetMovement(partyName) {
    return defectionEvents.reduce((num, event) => {
        if (event.partyTo === partyName) return num + 1;
        if (event.partyFrom === partyName) return num - 1;
        return num;
    }, 0)
}

     let partyTotals = {

         "labour": getNetMovement('labour'),
         "libdem": getNetMovement('liberal democrats'),
         "green": getNetMovement('green'),
         "tory": getNetMovement('conservative'),
         "reform": getNetMovement('reform'),
     }

const defectioncanvas = document.getElementById("defectionCanvas");
const defectionctx = defectioncanvas.getContext("2d");

function resizeCanvas() {
    const dpr = window.devicePixelRatio || 1;
    const rect = defectionCanvas.getBoundingClientRect();

    defectionCanvas.width = rect.width * dpr;
    defectionCanvas.height = (rect.height * dpr) + 4;

    defectionctx.scale(dpr, dpr);
}



function drawBars() {


    let partyColours = {

        "labour": '#dc3545',
        "libdem": '#faa61a',
        "green": '#6ab023',
        "tory":  '#0087dc',
        "reform": '#12b6cf',
    }




    barYStart = 4
    barHeight = 11
    barGap = 4
    totalReqHeight = Object.keys(partyTotals).length * (barHeight + barGap)
    defectionCanvas.style.height = `${totalReqHeight}px`
    defectionCanvas.style.width = `${document.querySelector('.windowdefectionscontent').getBoundingClientRect().width / 4}px`
    resizeCanvas()

    function getLargestNetChange() {

        let largestChange = 0
        Object.keys(partyTotals).forEach(function(key) {
            const change = Math.abs(partyTotals[key])
            if (change > largestChange) {largestChange = change}
        })
        return largestChange

    }

    function getScale() {
        const largestChange = getLargestNetChange()
        const width = defectionCanvas.style.width
        let scale = 1

        if (largestChange > width - 5) {
            scale = width / largestChange
        }

        if (largestChange < 10) {
            scale = 5
        }
        return scale
    }

    const scale = getScale()

    const midpoint = defectioncanvas.getBoundingClientRect().width / 2

     // drawing midpoint line
    defectionctx.beginPath();
    defectionctx.setLineDash([1, 1]);
    defectionctx.moveTo(midpoint, 0);
    defectionctx.lineTo(midpoint, 999);
    defectionctx.stroke();
    defectionctx.setLineDash([]);

    Object.keys(partyTotals).forEach(function(key) {

        let barWidth = partyTotals[key] * scale
        // making sure something is visible if there is low net movement.
        if (barWidth == 0) {barWidth = 1}

        defectionctx.fillStyle = `${partyColours[key]}`;
        defectionctx.beginPath(); // Start a new path
        defectionctx.rect(midpoint, barYStart, barWidth, barHeight)
        defectionctx.strokeRect(midpoint, barYStart, barWidth, barHeight)
        defectionctx.fill(); // Render the path
        defectionctx.beginPath(); // Start a new path
        defectionctx.fillStyle = `black`;
        defectionctx.font = "8px sans-serif";
        defectionctx.fillText(`${partyTotals[key]}`, 6, barYStart + barGap + 3);
        defectionctx.fill(); // Render the path

        barYStart += barHeight + barGap
    })

 }
 drawBars()

 })
</script>
<style>



.windowdefectionscontent {
    padding-bottom: 0px;
    padding-top: 0px;
    resize: none;
    filter: saturate(0.87)

 }
.windowdefectionscontent i {
    font-size: 6pt;
 }

#defectionTableWrapper {
    max-height: 90px;
    overflow: scroll;
    border-right: 1px dotted black;

 }
#defectionTable td {
    font-size: 8pt;
    padding-right: 3px;

 }
 /* General style for all dots */
circle {
    stroke: rgba(0,0,0,0.8);
    stroke-width: 1;
    fill: #dcdcdc
}

.councilSpan {
    margin-left: 8px
 }



/* Party specific colors */
.dot-labour { fill: #dc3545; }
.dot-conservative { fill: #0087dc; }
.dot-liberal-democrats { fill: #faa61a; }
.dot-reform { fill: #12b6cf; }
.dot-green { fill: #6ab023; }
</style>
</div>
