<div id='guestbookwrapper'>
    <div style='display: flex'>
        <div id='guestbooksubmit' style='display: flex; flex-direction: column'>
            <label for='gbname'>Name:</label>
            <input id='gbname' placeholder='Anonymous'>
            <label for='gbmessage'>Message:</label>
            <textarea id='gbmessage' placeholder='Say something nice! Or else...' rows='4' ></textarea>
            <button id='gbsendMessage'>Send</button>
        </div>
    </div>
    <div id='guestbookmessages'>
        {% for message in guestbookmessages %}
        <div class='gbmessage'>
            <h3>{{ message.user | e}}</h3>
            <i>{{ message.date | e}}</i>
            <div>{{ message.message | e}}</div>
        </div>
        {% if message.response %}
        <div class='gbresponse'>
            <h3>izzy</h3>
            <div>{{ message.response | e}}</div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

<script>
window.addEventListener("load", (event) => {
    const messages = document.getElementById('guestbookmessages')
    const submit = document.getElementById('guestbooksubmit')

    const rect = submit.getBoundingClientRect()
    messages.style.maxHeight = `${rect.height}px`
});

function initGB() { // bc this gets injected with the other windows
     // wrapping it in an init function saves the global scope from conflicting w/ 'name' var etc

    const name = document.getElementById('gbname')
    const message = document.getElementById('gbmessage')
    const sendbutton = document.getElementById('gbsendMessage')
    const messagedisplay = document.getElementById('guestbookmessages')
    let messageSubmittedThisSession = false

    sendbutton.addEventListener('click', async () => {

        if (messageSubmittedThisSession) {
            return

        }

        const nametext = name.value
        const messagetext = message.value
        const now = new Date()
        const months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
        const data = new FormData()
        data.append('name', nametext)
        data.append('message', messagetext)

        const response = await fetch('/submit/guestbookmessage', {
            method: 'POST',
            body: data
        })


        const json = await response.json()
        sendbutton.innerText = json.response

        if (response.ok) {

            messageSubmittedThisSession = true
            const now = new Date()
            const newMessageDiv = document.createElement('div')
            newMessageDiv.classList.add('gbmessage')
            newMessageDiv.innerHTML = `
            <h3></h3>
            <i></i>
            <div></div>`
            newMessageDiv.querySelector('h3').innerText = nametext
            newMessageDiv.querySelector('i').innerText = `${now.getDate()}/${now.getMonth() + 1}/${now.getFullYear()}`
            newMessageDiv.querySelector('div').innerText = messagetext
            messagedisplay.prepend(newMessageDiv)

            sendbutton.classList.remove('failure')
            sendbutton.classList.add('success')
        } else if (response.status === 422) {

            messageSubmittedThisSession = true // bit more friction if someone hits the banned words filter
            sendbutton.classList.add('banned')

        } else {

            sendbutton.classList.add('failure')
        }


    })
 }
 initGB()

</script>

<style>
#guestbookwrapper {
    display: flex;
 }

 #guestbookwrapper input, #guestbookwrapper textarea {
     margin-bottom: 10px;
     background-color: #ffffff60;
     border: 1px dotted #00000030;
     border-radius: 3px;
     padding: 3px;
 }

 #guestbooksubmit {

     height: fit-content;
     border-right: 1px dotted black;
     padding: 10px;
 }

 #gbsendMessage {

     border: 1px dotted #00000030;
     border-radius: 3px;
     background-color: #00000030;
     cursor: pointer
 }


 #gbmessage {
     resize: none
 }
 #guestbookwrapper .success {

     background-color: #21853c60;
     border: 1px dotted #00000030;
     border-radius: 3px;
     height: fit-content;

 }
 #guestbookwrapper .failure {

     background-color: #db7e7260;
     border: 1px dotted #00000030;
     border-radius: 3px;
     height: fit-content;

 }
 #guestbookwrapper .failure:active {

     background-color: #db7e7290;
     border: 1px dotted #00000030;
     border-radius: 3px;
     height: fit-content;

 }

 #guestbookwrapper .banned {

     background-color: #82150790;
     border: 1px dotted #00000030;
     border-radius: 3px;
     height: fit-content;

 }

 #guestbookmessages {
     overflow: scroll;
 }

 .gbmessage {
     padding: 5px;
     background-color: #4e734b30;
     border: 1px dotted #00000040;
     border-radius: 3px;
     margin: 10px;
     margin-right: 20px;
     margin-bottom: 4px;
 }
 #guestbookmessages h3 {
     margin: 0px
 }

 .gbmessage p {
     margin-bottom: 0px
 }
 .gbresponse {
     margin: 10px;
     margin-top: 0px;
     border: 1px dotted #00000040;
     margin-left: 35px;
     padding: 5px;
     border-radius: 2px;
     background-color: #00000020
 }



</style>

