<div id='guestbookwrapper'>
    <div style='display: flex'>
        <div id='guestbooksubmit' style='display: flex; flex-direction: column'>
            <label for='name'>Name:</label>
            <input id='name' placeholder='Anonymous'>
            <label for='email'>Email:</label>
            <input id='email' placeholder='Optional, not displayed publicly'>
            <label for='message'>Message:</label>
            <textarea id='message' placeholder='Say something nice! Or else...' rows='4' ></textarea>
            <button id='sendMessage'>Send</button>
        </div>
    </div>
    <div id='guestbookmessages'>
        {% for message in guestbookmessages %}
        <div class='gbmessage'>
            <h3>{{ message.user | e}}</h3>
            <i>{{ message.date | e}}</i>
            <div>{{ message.message | e}}</div>
        </div>
        {% if message.response %}
        <div class='gbresponse'>
            <h3>izzy</h3>
            <div>{{ message.response | e}}</div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

<style>
#guestbookwrapper {
    display: flex;
 }

 #guestbookwrapper input, #guestbookwrapper textarea {
     margin-bottom: 10px;
     background-color: #ffffff60;
     border: 1px dotted #00000030;
     border-radius: 3px;
     padding: 3px;
 }

 #guestbooksubmit {

     height: fit-content;
     border-right: 1px dotted black;
     padding: 10px;
 }
 #guestbookmessages {
     overflow: scroll;
 }

 .gbmessage {
     padding: 5px;
     background-color: #4e734b30;
     border: 1px dotted #00000040;
     border-radius: 3px;
     margin: 10px;
     margin-right: 20px;
     margin-bottom: 4px;
 }
 #guestbookmessages h3 {
     margin: 0px
 }

 .gbmessage p {
     margin-bottom: 0px
 }
 .gbresponse {
     margin: 10px;
     margin-top: 0px;
     border: 1px dotted #00000040;
     margin-left: 35px;
     padding: 5px;
     border-radius: 2px;
     background-color: #00000020
 }

</style>

<script>
window.addEventListener("load", (event) => {
    const messages = document.getElementById('guestbookmessages')
    const submit = document.getElementById('guestbooksubmit')

    const rect = submit.getBoundingClientRect()
    messages.style.maxHeight = `${rect.height}px`
});
</script>
