<form id='headerRouteForm' action="/go" method="POST">
    <input list='pages'
            class='headerRouteDisplay'
            id='headerRouteDisplay'
            name='headerRouteInput'
            onfocus="this.value='~/'"
            placeholder='~/'
            autocomplete='off'>
    </input>

    <datalist id="pages">
    {% for url in siteMap %}
        <option value='~{{ url }}'>
    {% endfor %}
    </datalist>
    <script>
     const form = document.getElementById('headerRouteDisplay')
     let blink = true
     setInterval(function() {
         if (blink) {
             form.placeholder = '~/_'
             blink = false
         } else {
             form.placeholder = '~/'
             blink = true
         }
     }, 1000)
    </script>
</form>
