<ul>
    <li><a href='https://lclo.otherkat.com' target='_blank'>london community laptop orchestra</a></li>
    <li><a href='https://www.mvmtresearch.org' target='_blank'>movement research unit</a></li>
    <li><a href='https://realartgeneratesemotion.com' target='_blank'>R.A.G.E</a></li>
    <li><a href='https://setspace.uk/events/' target='_blank'>set social</a></li>
    <li><a href='https://ra.co/promoters/142930' target='_blank'>riposte</a></li>
    <li><a href='https://cranberrylemonade.xyz' target='_blank'>cranberry lemonade</a></li>
    <li><a href='https://yumyum.gay' Target='_blank'>yum yum</a></li>
    <li><a href='https://www.thetoerag.com' Target='_blank'>the toe rag</a></li>
    <li><a href='https://www.megagameassembly.com' Target='_blank'>megagame assembly</a></li>
</ul>
