<ul>

    <li><a href='https://lclo.otherkat.com' target='_blank'>london community laptop orchestra</a></li>
    <li><a href='https://www.mvmtresearch.org' target='_blank'>movement research unit</a></li>
    <li><a href='https://realartgeneratesemotion.com' target='_blank'>R.A.G.E</a></li>
    <li><a href='https://setspace.uk/events/' target='_blank'>set social</a></li>
    <li><a href='https://ra.co/promoters/142930' target='_blank'>riposte</a></li>
    <li><a href='https://cranberrylemonade.xyz' target='_blank'>cranberry lemonade</a></li>
    <li><a href='https://yumyum.gay' Target='_blank'>yum yum</a></li>
    <li><a href='https://www.thetoerag.com' Target='_blank'>the toe rag</a></li>
    <li><a href='https://www.megagameassembly.com' Target='_blank'>megagame assembly</a></li>
    <li><a href='https://www.twitch.tv/traditional_scrench'>traditional scrench</li></a>
    <li><a href='https://nikos.kourous.net'>nikos kourous</li></a>
    <li><a href='https://phreaking.co.uk'>phreaking collective</a></li>
    <li><a href='https://magot.neocities.org'>magot</a></li>
    <li><a href='https://trpowell.net'>tom powell</a></li>
    <li><a href='https://hogwild.uk'>hogwild</a></li>
    <li><a href='https://plasticdino.net'>plastic dino</a></li>
    <li><a href='https://ana.help'>ana meisel</a></li>
    <li><a href='https://mewes-space.netlify.app'>mewes space</a></li>

</ul>
<style>
 .windowpeoplecontent {
     max-height: 150px;
     overflow: scroll;
 }
</style>
