<!doctype html>
<a href='/static/resources/homepage/randompics/{{ picture }}'><img src='/static/resources/homepage/randompics/{{ picture }}' ></a>
<style>
 .windowrandompicturecontent {
     padding: 0px !important;
     min-height: 50px;
     overflow: hide;
     border: 1px solid black;
     border-right: 1px solid #ffffff20;
     border-bottom: 1px solid #ffffff20;
 }
 .windowrandompicturecontent a {
     cursor: crosshair;
 }
 .windowrandompicturecontent img {
     max-width: 220px;
     cursor: crosshair;
     transform: scale(106%);


 }
</style>
