
<div id='folderwrapper'>
    <div class='folderfile'>
        <a href='https://yumyum.gay' target='_blank'>
            <img class="foldericon" title="A website I made for a friend's drag show, based in Leeds." src='{{ url_for("static", filename="resources/homepage/yumyum.png") }}'>
        </a>
        <div class='folderlabel'>yumyum.gay</div>
    </div>

    <div class='folderfile'>
        <a href='http://www.iso-bel.computer/research/abulafia' target='_blank'>
            <img class="foldericon" title="A general purpose research tool for company and public sector investigation." src='{{ url_for("static", filename="resources/homepage/abulafia.png") }}'>
        </a>
        <div class='folderlabel'>ABULAFIA</div>
    </div>

    <div class='folderfile'>
        <a href='https://iso-bel.neocities.org' target='_blank'>
            <img class="foldericon" title="My old Neocities site." src='{{ url_for("static", filename="resources/homepage/neocities.png") }}'>
        </a>
        <div class='folderlabel'>Neocities Archive</div>
    </div>
</div>
