<div>
    <div style='display: flex; justify-content: space-between; padding: 5px; border: 1px solid green; background-color: white; margin: 8px'>
        <a href='https://hotlinewebring.club/ISO-BEL-COMPUTER/previous'><- Back</a>
            <b>Hotline Webring</b>
        <a href='https://hotlinewebring.club/ISO-BEL-COMPUTER/next'>Forward -></a>
    </div>
    <br>
<div id="londonpermacomputring">
<script>let useLargeWidget = true</script>
<script type="text/javascript" src="https://www.iso-bel.computer/static/webring/onionring-variables.js"></script>
<script type="text/javascript" src="https://www.iso-bel.computer/static/webring/onionring-widget.js"></script>
</div>
<link rel="stylesheet" href="https://www.iso-bel.computer/static/webring/onionring.css">
</div>
