
        .header-ISOBEL {
            vertical-align: middle;
        }


        #statuscafe {
            padding: .5em;
            background-color: #DCD6C9;
            border: 1px solid black;
        }
        #statuscafe-username {
            margin-bottom: .5em;
            font-size: smaller;
        }
        #statuscafe-content {
            margin: 0 0.5em 0.5em 0.5em;
        }
