
      html, body {
          height: 100%;
      }

      #navbar {
        margin-top: 20px;

      }

      #container {
          
          max-width: 90vw;
          width: 100%;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          justify-content: center;
      }
      
      #alertWrapper {
        display: none;
        width: 300px;
        height: fit-content;
        max-height: 150px;
        background-color: rgb(205, 100, 100);
        margin-right: 15px;
        filter: drop-shadow(1px 2px 3px rgba(0, 0, 0, 0.2));
        border-radius: 8px;
        align-items: center;
        padding: 6px;

      }

      #alertWrapper img {
        max-height: 20px;
        margin-top: 4px;
        margin-left: 5px;
        margin-right: 5px;

    
      }

      #alertMessage {
        font-size: 9pt;
        margin-left: 4px;
        padding-left: 8px;
        border-left: 1px solid black;
      }
      


      .newTabLinks {
        display: flex;
        max-width: 100%;
        width: fit-content;
        flex-wrap: wrap;
        justify-items: center;
      }

      .newTabLinks img {
        width: 50px;
        height: 50px;
        max-width: 50px;
        max-height: 50px;
        margin-top: 7px;
        margin-bottom: 7px;

        margin-right: 11px;
        margin-left: 11px;
        /*filter: drop-shadow(1px 2px 3px rgba(0, 0, 0, 0.2));*/
        transition: transform 0.2s ease;


      }

    .newTabLinks img:hover {
        transform: scale(1.5);
      }

      #newsDisplay {
        padding: 10px;
        height: fit-content;
        max-height: 60vh;
        overflow: scroll;
        width: 500px !important;
        font-size: 10pt;
      }

      .newsLine {
        display: flex;
        margin-bottom: 10px
      }

      .newsDate {
        font-size: 7pt;
        padding-right: 8px;
        width: 70px;
        text-align: right; 
      }

      .newsTitle {
        border-left: dotted rgba(0, 0, 0, 0.488) 1px;
        padding-left: 10px;
        width: 400px;
      }
      .newsTitle img {
        display: none;  
      }

      .newsContent {
        margin-left: 80px;
        display: none;
        margin-bottom: 8px;
        margin-top: 7px;
      }

      .newsContent figure,
      .newsContent img {
        display: none      }
      .newsContent aside {
                background-color: #bfb29400;
                width: 100%;
                padding: 5px;
                padding-left: 15px;
                font-size: smaller;
                border-right: 1px;
                border-right-style: solid;
                border-right-color: rgba(0, 0, 0, 0);
                border-left: 1px solid black;




      }

      #rss {
        width: 400px;
        max-width: 400px;
        max-height: 55vh;
        overflow: none;
      }
      #rss h4 a {
          transition: color 0.2s ease, transform 0.2s ease;
      }

      #rss h4:hover a {
          color: white !important;
          transform: translate(2%);  /* now transforms the a */
      }
      #rss h4  {
          transition: color 0.1s ease, transform 0.1s ease;
      }

      #rss h4:hover  {
          color: white !important;
          transform: translate(2%);  /* now transforms the a */
      }

      #rssButtons {
        width:70px;
        height:inherit;
        margin-top:15px;
        margin-right: 10px;
        text-align: right;
        font-size:7pt;
        display: flex;
        flex-direction: column;
        padding: 10px;
        border-right: solid rgba(0, 0, 0, 0.488) 1px;
        font-weight: bold
      }

      .rssButton {
        cursor: pointer;
        margin-bottom: 5px
      }

      .rssFeed {
        display: none;
      }
      .rssFeed p {
        margin-left: 10px
      }
      .rssFeed span {
        display: none;
      }

      
      .rssDate {
        font-size: 7pt;
        padding-right: 8px;
        width: 90px;
        text-align: right; 
      }
      #rssStories {
        overflow: scroll;
        max-height: 50vh;
        padding-top: 8px;
      }

      .textBoxContainer {
        display: flex;
        max-width: 100%;
        width: 100%;
        padding-bottom: 5px;
        font-size: 14pt; 
        max-height: 65vh;
        justify-content: center;
      }

      .activeNews {
        font-weight: bold;

      }
      .fullTextBox {
        height:100%;
        width:200px;
        overflow:auto; 
        padding: 8px;
        padding-top: 0px;
        background-color: #e1ddd2;
        border-radius: 8px;
        font-size: 10pt;
        margin-right: 15px
      }

      .fullTextBox a {
        text-decoration: none !important;
      }

      .RSSWrapper {
        height:100%;
        width:500px;
        overflow:auto; 
        padding: 8px;
        padding-top: 0px;
        background-color: #e1ddd2;
        border-radius: 8px;
        font-size: 10pt;
        margin-right: 15px;
        display: flex
      }

      .RSSWrapper a {
        text-decoration: none !important;
      }

      #RSSFeedTitle {

        margin-top: 15px !important;

        font-weight: bold;
        font-size: 13pt;

      }

      #RSSSearchHeader {
        border-bottom: dotted 1px rgba(0, 0, 0, 0.521)
      }

      #rssSearchBar input[type="text"] {
        width: 100%;
        font-size: 9px;
        box-sizing: border-box; /* Ensures padding/border don't break layout */
        font-family: Imperator;
        font-style: italic;
        background-color: #e1ddd2;
        border: 0px black dotted;
        padding: 5px;

        border-radius: 7px;
      }

      #radio_display {
        width:200px;
      }

      .searchform input[type="text"] {
        width: 100%;
        font-size: 20px;
        box-sizing: border-box; /* Ensures padding/border don't break layout */
        font-family: Imperator;
        background-color: #e1ddd2;
        border: 0px black dotted;
        filter: drop-shadow(1px 2px 3px rgba(0, 0, 0, 0.2));
        padding: 5px;
        margin-top: 5px;
        border-radius: 7px;
      }

      #sitesearch {
        width: 100%
      }

