.nts-player {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: left;
  filter: drop-shadow(5px 5px 5px rgb(0, 0, 0, 0.5));
  width: 100%;
}

.nts-player li {
  color: white !important;
  text-decoration: none !important;
}

.pl-2 {
  padding-left: 0.5rem; /* 8px */
}

.pr-4 {
  padding-right: 1rem; /* 16px */
}

.px-4 {
  padding-left: 1rem; /* 16px */
  padding-right: 1rem; /* 16px */
}

.text-center {
  text-align: center;
}

.text-xl {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}

.italic {
  font-style: italic;
}

.font-light {
  font-weight: 300;
}

.cursor-default {
  cursor: default;
}

.ml-1 {
  margin-left: 0.25rem; /* 4px */
}

.pointer-event-none {
  pointer-events: none;
}

.text-xs {
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16 */
}