body {
    font-family: 'Imperator', serif;
    max-width: 100vw;
    margin: 0 auto;
    line-height: 1.17;
    --site-background-color: #DCD6C9;
    --site-accent-color: #142616;
    --site-accent-color-transparent: #14261625;
    background-color: var(--site-background-color);
    font-size: 11pt;
    color: black;
    --header-padding-topandtail: 8px;
    --header-height: 50px;
    --header-total-height: calc((var(--header-padding-topandtail) * 2) + var(--header-height));
}


header {

    font-size: 11pt;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    padding-bottom: var(--header-padding-topandtail);
    padding-top: var(--header-padding-topandtail);
    padding-right: 10px;
    height: var(--header-height);
    max-height: var(--header-height);
    top: 0;
    color: white;
    z-index: 100;
    background-color: var(--site-accent-color);
    filter: drop-shadow(0px 10px 10px #00000035);
    backdrop-filter: blur(10px)xi;
    outline: 1px solid black;
}

header img {
    max-height: calc(var(--header-height) - 5px);
    width: auto;
    filter: drop-shadow(0px 0px 10px #00000085);

}

.headerRouteDisplay {
    font-family: 'Imperator', serif;
    background-color: #00000000;
    border: none;
    color: white;
    font-size: 11pt;
    height: 100%;
    filter: drop-shadow(0px 10px 10px #00000035);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}


.flex {
    display: flex
}
header a {
    text-decoration: none;
    color: white;
}

.sociallinks {
    display: flex;
    flex-direction: column;
    text-align: right;
    filter: drop-shadow(0px 10px 10px #00000035);

}

nav a:hover {
    text-decoration: underline;
}

@font-face {
    font-family: Imperator;
    src: url('/static/resources/fonts/Imperator.ttf')

}

@font-face {
    font-family: ImperatorSmallCaps;
    src: url('/static/resources/fonts/ImperatorBronzeSmallCaps.ttf')
}


@font-face {
    font-family: ImperatorBronze;
    src: url('/static/resources/fonts/ImperatorBronze.ttf')
}
