body {
    font-family: 'Imperator', serif;
    max-width: 100vw;
    margin: 0 auto;
    line-height: 1.17;
    --site-background-color: #DCD6C9;
    --site-accent-color: #142616;
    background-color: var(--site-background-color);
    font-size: 11pt;
    color: black;
    --header-padding-topandtail: 8px;
    --header-height: 50px;

}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    padding-bottom: var(--header-padding-topandtail);
    padding-top: var(--header-padding-topandtail);
    padding-right: 10px;
    height: var(--header-height);
    max-height: var(--header-height);
    top: 0;
    color: white;
    z-index: 100;
    background-color: var(--site-accent-color);
    filter: drop-shadow(0px 10px 10px #00000035);
    backdrop-filter: blur(10px);
    background-position: center;
}

header img {
    max-height: calc(var(--header-height) - 5px);
    width: auto
}

.headerRouteDisplay {
    font-family: 'Imperator', serif;
    font-size: 14pt;
}

.flex {
    display: flex
}
header a {
    text-decoration: none;
    color: white;
}

.sociallinks {
    display: flex;
    flex-direction: column;
    text-align: right
}

nav a:hover {
    text-decoration: underline;
}

@font-face {
    font-family: Imperator;
    src: url('/static/resources/fonts/Imperator.ttf')

}

@font-face {
    font-family: ImperatorSmallCaps;
    src: url('/static/resources/fonts/ImperatorBronzeSmallCaps.ttf')
}


@font-face {
    font-family: ImperatorBronze;
    src: url('/static/resources/fonts/ImperatorBronze.ttf')
}
