<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Falling Land</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <link rel="stylesheet" href="{{url_for('static', filename='css/fallingland.css')}}">
    </head>
    <body>
        <div id='gameWrapper'>
            <canvas id='game'></canvas>
        </div>
        <div id='controls' hidden>
            <div id='tileInfoDisplay'>
                <div class='tileLabel loading'>
                    ...
                </div>
                -ft


            </div>
            <div id='brushSelection'>

                <button id='fire'  data-brush='fire'>Fire</button>
                <button id='water'  data-brush='water'>Water</button>
                <button id='tree'  data-brush='tree'>Tree</button>
                <button id='land'  data-brush='land'>Land</button>
                <button id='dig'   data-brush='excavate'>Dig</button>
                <button id='human' data-brush='human'>Human</button>
                <button id='flower' data-brush='flower'>Flower</button>
                <button id='bridge' data-brush='bridge'>Bridge</button>

            </div>
            <div id='resources'></div>
            <div id='messages'></div>
            <div id='controlsInfoWrapper'>
                <div id='controlsToggle'>Controls ➡</div>
                <div id='controlsInfo' hidden>
                    Pan camera with WASD / Arrow Keys. <br>
                    Shift to pan faster.<br>
                    + / - keys to zoom.<br>
                    Click on brushes, then click the map!.
                </div>
            </div>

        </div>
        <div id='loadingMessage'>
            <div id='loadingText'>Loading...</div>
            <br>
            <div id='loadingQuote'>…In that Empire, the Art of Cartography attained such Perfection that the map of a single Province occupied the entirety of a City, and the map of the Empire, the entirety of a Province. In time, those Unconscionable Maps no longer satisfied, and the Cartographers Guilds struck a Map of the Empire whose size was that of the Empire, and which coincided point for point with it.</div>
        </div>
        <script type='module' src="{{ url_for('static', filename='scripts/fallingland/main.js') }}"></script>


    </body>
</html>
