<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Falling Land</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <link rel="stylesheet" href="{{url_for('static', filename='css/fallingland.css')}}">
    </head>
    <body>
        <div id='gameWrapper'>
            <canvas id='game'></canvas>
        </div>
        <div id='controls'>
            <div id='tileInfoDisplay'>
                <div class='tileLabel loading'>
                    ...
                </div>
                -x -y<br>
                -ft


            </div>
            <div id='brushSelection'>

                <button id='fire'  data-brush='fire'>Fire</button>
                <button id='tree'  data-brush='tree'>Tree</button>
                <button id='land'  data-brush='land'>Land</button>
                <button id='dig'   data-brush='excavate'>Dig</button>
                <button id='human' data-brush='human'>Human</button>
                <button id='flower' data-brush='flower'>Flower</button>
                <button id='bridge' data-brush='bridge'>Bridge</button>

            </div>
            <div id='resources'></div>
            <div id='messages'>Loading...</div>

            </div>
        </div>
        <script type='module' src="{{ url_for('static', filename='scripts/fallingland/main.js') }}"></script>


    </body>
</html>
