{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/abulafia.css') }}">
{% endblock %}

{% block extra_js %}
<script type="module" src="{{ url_for('static', filename='scripts/abulafia/main.js') }}"></script>
{% endblock %}


{% block content %}
<div id="contentWrapper">
    <nav id="sidebar">
        <img src='https://www.iso-bel.computer/static/resources/images/abulafia/abulafia.png'>
        <div>
            <div id='clock' style='text-align: right; color: white; font-size: 12px'></div>
            <script>
    setInterval(function() {
    const now = new Date()
    document.getElementById('clock').innerText = `${now.getHours()}:${now.getMinutes()}:${now.getSeconds()}`

    }, 1000)
    </script>
            <p style='margin-top: 0px;color: white; font-size: 9px; text-align: right'>v.0.4.1</p>
        </div>
    </nav>
    <div id='searchArea' class='topLevelUi'>
        <input id='companySearch'>
        <div class='checkboxWrapper'>
            <button id='showHistory'>History</button>
            <label for="option1">Show inactive?</label>
            <input type="checkbox" id="showOnlyActiveCompanies" name="option1"><br>
        </div>
        <div id='searchResults'></div>
    </div>
    <div id='companyDisplay' class='topLevelUi'>
        <div class='placeholder'><img src='https://www.iso-bel.computer/static/resources/images/abulafia/business.png'></div>
    </div>
    <div id='officerDisplay' class='topLevelUi'>
        <div class='placeholder'><img src='https://www.iso-bel.computer/static/resources/images/abulafia/person.png'></div>
    </div>

</div>



{% endblock %}
