{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/abulafia.css') }}">
{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='scripts/abulafia.js') }}"></script>
{% endblock %}


{% block content %}
<main>
    <nav id="sidebar">
    </nav>
    <div id="contentWrapper">
        <div id='column1'>
            <input id="query" type="text">
            <div id="chSearchResults"></div>
        </div>
        <div id='column2'>
            <div id='companyInfo'>
                <h1 id='companyName'></h1>
                <div id='companyAliasButton'>Aliases ▸</div>
                <div id='companyPreviouslyKnownAs'></div>
                <hr id='companyInfoLine'>
                <div class='companyBasicDetails'>
                    <div id='companySIC'></div>
                    <div id='companyNumber'></div>
                </div>
                <div class='companyBasicDetails'>
                    <div id='companyType'></div>
                    <div id='companyStatus'></div>
                </div>
                <div class='companyBasicDetails'>
                    <div id='companyDateCreated'></div>
                    <div id='companyDateDissolved'></div>
                </div>
                <div id='companyAlerts'></div>
                <hr id='companyInfoLine'>
                <div id='companyAddress'></div>
                <div id='companyPeopleDisplays'>
                    <div id='companyDirectors' class='pwscofficerdivs'></div>
                    <div id='companyPWSC' class='pwscofficerdivs'></div>
                </div>
            </div>
        </div>
        <div id='column3'>
            <div id='personInfo'>
                <h1 id='personName'></h1>
                <div id='personAge'></div>
                <div id='personNationality'></div>
                <div id='personAppointments' class='otherAppointments'></div>
            </div>
        </div>
    </div>
</main>



{% endblock %}
