<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}ISO | BEL{% endblock %}</title>
        <link rel="stylesheet" href="{{url_for('static', filename='base.css')}}">
        {% block extra_css %}{% endblock %}

    </head>
    <body>
        <header>
            <div class='flex' style='align-items: end'>
                <a href='/'>
                <img src="{{ url_for('static', filename='resources/images/core/ISOBEL_LOGO.svg') }}"
                    style="width: 100px"
                    alt='ISO_BEL'>
                </a>
                <span class='headerRouteDisplay'>&nbsp{{ headerRouteDisplay }}</span>
            </div>

            <a href='/static/rss.xml'>
                <img src="{{ url_for('static', filename='resources/images/core/rss.png') }}"
                 style="width: 20px"
                 alt='Subscribe to my RSS feed'>
            </a>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>

</html>
