{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/blog.css') }}">
{% endblock %}

{% block content %}

<h2>Blog</h2>

{% for post in posts %}
<div class='blogpost' id={{ post.id }}>

    <h3>
        {{ post.displayDate }} - {{ post.title }}


    </h3>
    <div class='blogcontent'
         {% if active_post == post.id %}style="display: block;"
         {% else %}style="display: none;"{% endif %}>

        {% include post.template %}
    </div>
</div>
{% endfor %}

<script>

function togglePost(postId) {
    const content = document.querySelector(`#${postId} .blogcontent`);
    const isVisible = content.style.display === 'block';

    // Close all posts
    document.querySelectorAll('.post-content').forEach(element => {
        element.style.display = 'none';
    });

    // Toggle clicked post
    if (!isVisible) {
        content.style.display = 'block';
    }
}


</script>

{% endblock %}
