{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/blog.css') }}">
{% endblock %}

{% block content %}
{% for post in posts %}
<div class='blogpost' id={{ post.id }}>
    <div onclick="togglePost('{{ post.id }}')" style='cursor: pointer; display: flex; justify-content: space-between; align-items: auto'>

     <h3>
        {{ post.title }} <!--   {{ post.displayDate }}  --->
    </h3>
    <div class='publishDate'>  {{ post.displayDate }}  </div>
    </div>
    <div class='blogcontent'
         {% if active_post == post.id %}style="display: block;"
         {% else %}style="display: none;"{% endif %}>
        {% include post.template %}
    </div>
</div>
{% endfor %}

<script>

function togglePost(postId) {
    const container = document.getElementById(postId);
    const title = container.querySelector('h3')
    const content = container.querySelector('.blogcontent');
    const isVisible = content.style.display === 'block';


    // Toggle clicked post
    if (!isVisible) {
        content.style.display = 'block';
        container.style.backgroundColor = '#00000007'
        title.style.textDecoration = 'underline'
    }
    else {
        content.style.display = 'none';
        container.style.backgroundColor = '#00000000'
        title.style.textDecoration = 'none'
    }
}



</script>

{% endblock %}
