{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/blog.css') }}">
{% endblock %}

{% block content %}
{% for post in posts %}
<div class='blogpost' id={{ post.id }}>
    <div class='blogtitle' onclick="togglePost('{{ post.id }}')" style='cursor: pointer; display: flex; justify-content: space-between; align-items: auto'>

     <h3>
        {{ post.title }} <!--   {{ post.displayDate }}  --->
    </h3>
    <div class='publishDate'>  {{ post.displayDate }}  </div>
    </div>
    <div class='blogcontent'
         {% if active_post == post.id %}style="display: block;"
         {% else %}style="display: none;"{% endif %}>
        {% include post.template %}
    </div>
</div>
{% endfor %}


<script>

function togglePost(postId) {
    const container = document.getElementById(postId);
    const title = container.querySelector('.blogtitle')
    const content = container.querySelector('.blogcontent');
    const isVisible = content.style.display === 'block';

    // Toggle clicked post
    // this should all be ported to the stylesheet with an 'active' class toggle.
    // why did i do it this way anyway? am i stupid?
    if (!title.classList.contains('open')) {
        title.classList.add('open')
        content.style.display = 'block';
        container.style.width = '80vw'
    }
    else {
        title.classList.remove('open')
        content.style.display = 'none';
        container.style.width = '75vw'
    }
}

</script>

{% endblock %}
