<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>London Trans Pride 2026</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/demo.css') }}">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    </head>

    <body>

        <header>
            <nav>
                <a>Home</a>
                <a>About</a>
                <a>March</a>
                <a>FAQ</a>
                <a style='border-right: none'>Volunteer</a>
            </nav>
        </header>

        <main>
            <nav id='sidebar'>

            <div id='donationWidget' class="gfm-embed" data-url="https://www.gofundme.com/f/london-trans-pride-2025/widget/medium?sharesheet=undefined&attribution_id=sl:b04ada1c-d0b0-41ed-83f5-793c62c328bd"></div><script defer src="https://www.gofundme.com/static/js/embed.js"></script>
            </nav>
            <div id='content'>
            <h1>LONDON TRANS+ PRIDE 2026 STARTS IN</h1>
            <div id='countdown'></div>
            <script>
            const marchStart = new Date('2026-07-26T13:00:00')
            const countdownDiv = document.getElementById('countdown')
            setInterval(function() {

                const now = Date.now()

                // get total seconds between the times
                let delta = Math.abs(marchStart - now) / 1000;

                // calculate (and subtract) whole days
                const days = Math.floor(delta / 86400);
                delta -= days * 86400;

                // calculate (and subtract) whole hours
                const hours = Math.floor(delta / 3600) % 24;
                delta -= hours * 3600;

                // calculate (and subtract) whole minutes
                const  minutes = Math.floor(delta / 60) % 60;
                delta -= minutes * 60;

                const seconds = Math.floor(delta)


                countdownDiv.innerHTML = `${days}d ${hours}h ${minutes}m ${seconds}s`

            }, 1000)

            </script>
            <h2>Saturday 26th July | 1:00pm @ Langham Place</h2>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            </div>
            <script>

            const contentDiv = document.querySelector('main')
            let deg = 0
            let mid = 50
            let pole = 1
            setInterval(function() {
                 if (deg > 365) {deg = 0}
                 if (mid > 65) {pole = -1}
                 if (mid < 35) {pole = 1}
                 contentDiv.style.backgroundImage = `linear-gradient(${deg}deg,rgba(91, 206, 250, 0.3) 0%, rgba(245, 169, 184, 0.3) ${mid}%, rgba(255, 255, 255, 0.3) 100%)`
                 mid = mid + (1 * pole)
                 deg++
                                                    console.log('hello')
             }, 2000)

            </script>
        </main>

        <footer>
            <div>© London Trans+ Pride 2026<br>If this website isn't accessible to you or you've noticed an accessibility issue, <br>please email our access team at access@londontranspride.org to let us know.</div>
        </footer>
    </body>
</html>
