<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>London Trans Pride</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/demo.css') }}">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap" rel="stylesheet">

    </head>

    <body>

        <header>
                <a style='background-color: #00000000'><div id='siteTitle'>LONDON TRANS+ PRIDE</div></a>
                <div style='display: flex; justify-content: flex-end'>
                <a class='transflagblue'>About</a>
                <a class='transflagpink'>March</a>
                <a class='transflagwhite'>Speakers</a>
                <a class='transflagpink'>FAQ</a>
                <a class='transflagblue' style='border-right: 1px solid white;' >Volunteer</a>
                </div>

        </header>

        <main>
            <!--Sidebar-->

            <!--Main content area-->
            <!--this would be out to a template in the final thing-->
            <div id='content'>
                <div id='heropage' class='uiBox'>
                    <h2 id='countdownLabel'>LT+P 2026 STARTS IN:</h2>
                    <div id='countdown'>0d 0h 0m 0s</div>
                    <script>
    const marchStart = new Date('2026-07-26T13:00:00')
    const countdownLabel = document.getElementById('countdownLabel')
    const countdownDiv = document.getElementById('countdown')
    setInterval(function() {

    const now = Date.now()

    // get total seconds between the times
    let delta = Math.abs(marchStart - now) / 1000;

    // calculate (and subtract) whole days
    const days = Math.floor(delta / 86400);
    delta -= days * 86400;

    // calculate (and subtract) whole hours
    const hours = Math.floor(delta / 3600) % 24;
    delta -= hours * 3600;

    // calculate (and subtract) whole minutes
    const  minutes = Math.floor(delta / 60) % 60;
    delta -= minutes * 60;

    const seconds = Math.floor(delta)


    if (delta > 0) {

    countdownDiv.innerHTML = `${days}d ${hours}h ${minutes}m ${seconds}s`
    } else if (now.getDate() === 26 && now.getMonth() === 6) {

    countdownLabel.innerHTML = `<h1>LONDON TRANS+ PRIDE 2026 HAS STARTED</h1>`
    countdownDiv.innerHTML = ``
    } else {

    countdownLabel.innerHTML = `<h1>THANK YOU FOR COMING TO LONDON TRANS PRIDE 2026 <3</h1>`
    }

    }, 1000)

    </script>
                    <h2 >Saturday 26th July <br>1pm @ Langham Place, W1B 3DA</h2>
                </div>
                <div id='news' class='uiBox'>

                    <div class='newsItem'>
                        <h3>📢 VACANCY DEADLINE EXTENSION 📢</h3>
                        <i>3rd March 2026</i>
                        <p>The worlds largest trans+ pride team is expanding… and we want to hear from you! </p>
                        <p>London Trans+ Pride is a grassroots, community led protest looking for new community volunteers, and this year we’re hoping to expand that team again! </p>
                        <p>Technical Trans+ Marchers to the from as this year we’re especially keen to grow and support our Social Media, Website Development and Production Tech teams! </p>
                        <p>Join our team! Apply via the link in bio. Any questions, drop them in the comments or to info@londontranspride.org. We can’t wait to hear from you.</p>
                        <p>In 2025, over 100,000 of us marched in love and rage. We made history. And in 2026, with your help, we’ll do it again.</p>
                        <p>love and rage, the LT+P team (which might soon include you!) </p>
                    </div>
                    <div class='newsItem'>
                        <h3>🚨 SAVE THE DATE 🚨</h3>
                        <i>11th February 2026</i>
                        <p>London Trans+ Pride will be happening on Saturday 25th July 2026 in Central London.</p>
                        <p>Mark your calendars. Tell your friends. Book your trains.</p>
                        <p>In 2025, over 100,000 of us marched in love and rage. We made history. And in 2026, we do it again.</p>
                        <p>London Trans+ Pride is a grassroots, community led protest. We don’t take corporate sponsorship. We are powered entirely by volunteers and community donations.</p>
                        <p>Our GoFundMe for 2026 is now live.</p>
                        <p>If you’re in a position to donate, share, or support in any way, it truly makes a difference. Every contribution helps us keep the protest free, accessible, and independent. Link in the bio.</p>
                        <p>love and rage,</p>
                        <p>the LT+P team 🏳️‍⚧️💖</p>
                    </div>
                </div>
            </div>
            <nav id='sidebar' >
                <img src='https://londontranspride.org/img/ltp2025.png' class='uiBox'>
                <div id='belowImage' class='uiBox'>
                    Love and Rage 🏳️‍⚧️❤️‍🔥✊
                </div>
            </nav>
            <script>

            const contentDiv = document.querySelector('main')
            let deg = 0
            let mid = 50
            let pole = 1
            setInterval(function() {
                 if (deg > 365) {deg = 0}
                 if (mid > 65) {pole = -1}
                 if (mid < 35) {pole = 1}
                 contentDiv.style.backgroundImage = `linear-gradient(${deg}deg,rgba(91, 206, 250, 0.3) 0%, rgba(245, 169, 184, 0.3) ${mid}%, rgba(255, 255, 255, 0.3) 100%)`
                 mid = mid + pole
                 deg++
             }, 100)

            </script>
        </main>

        <footer>
            <div id='socials'>
                <button class='socialEl' id='donationButton'><a target='_blank' href='https://www.gofundme.com/f/london-trans-pride-2025'>Donate</a></button>
                <a class='socialEl' href='https://www.instagram.com/londontranspride/' target='_blank'><img src='https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png'></a>
                <a class='socialEl' href='https://www.facebook.com/londontranspride/' target='_blank'><img src='https://upload.wikimedia.org/wikipedia/commons/b/b9/2023_Facebook_icon.svg'></a>
                <a class='socialEl' href='https://www.tiktok.com/@londontranspride' target='_blank'><img src='https://upload.wikimedia.org/wikipedia/commons/a/a6/Tiktok_icon.svg'></a>
            </div>
            <div style='text-align: right'>© London Trans+ Pride 2026<br>Website made with <3 by Isobel Hemmings<br>If this website isn't accessible to you or you've noticed an accessibility issue, please email our access team at access@londontranspride.org to let us know.</div>
        </footer>
    </body>
</html>
