{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block content %}
<div id='homepageContent'>
    <h2 style='margin-block-start: 0em'>
        uh, this is your captain again.
        <br>
        you know, i've got a funny feeling i've seen this all before.
    </h2>
    <p >
        Isobel Hemmings <i>has been reterritorialized.</i>
    </p>
    <p>
        Izzy is interested in the ways that systems work, how they make themeselves illegible and their subjects legible, and how they can be improved and evaded.
    </p>
    <p>
        She works in social housing policy, takes photos and makes darkroom and digital prints, draws, models, and codes in javascript & python. She lives in South London, and is a member of the <a href='https://london.permacomputing.net/posts/index.html'>London Permacomputing Club</a>. Since becoming trans, she has neglected her day job and CPD, and devoted her time to various analogue and digital bullshit. She's not sure why she's talking in the third person.
    </p>
    <h2>Projects and Research</h2>
    <ul>
        <li>Abulafia</li>
        <li>Verisimillitude Bookcase</li>
        <li>Council Cash</li>
        <li>yumyum.gay</li>
    </ul>
    <h2>Art Pieces</h2>
    <ul>
        <li>$ ECHO 'YOU WILL ALWAYS BE MINE' </li>
        <li>Just Because You're Paranoid Doesn't Mean They're Not Watching You</li>
        <li>Isolation ⚧ Antebellum</li>
    </ul>
    <h2>Misc Art</h2>
    <ul>
        <li>Photography</li>
        <li>Prints</li>
        <li>Drawing</li>
        <li>Writing</li>
    </ul>
    <p id='smalltext'>
    I'm not actively looking for freelance work right now, but if you would like to hire me, I'm open for web design and writing projects, and life modelling gigs.
    <br>
    My email is in the header.
    </p>
</div>
{% endblock %}
