<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ISO | BEL</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    </head>
    <body>
        <main>

            <div id='imagewrapper'>
                <img id='backgroundimage' src='{{ url_for("static", filename="resources/images/art/photography/previews/23-10-15_birds-on-a-wire_164242_PREVIEW.jpg") }}'>
            </div>
            <div id='content'>
                <canvas id="canvas" style="width: 100vw; height: 100vh;"></canvas>

                {% for win in windows %}

                <div class='xpwindow window{{ win.classname }}' id='window{{ loop.index }}'>
                    <div class='xpwindowheader window{{ win.classname }}header' id='window{{ loop.index }}header'>

                        <div class='headercolumn1'>
                            <img id='windowfolder' src='{{ url_for("static", filename="resources/homepage/" + win.icon) }}'>
                            <div class='headerbartext'>~/{{ win.headertext }}</div>
                        </div>

                        <div class='headercolumn2'>
                            <div class='headerbarbuttons'>
                            </div>

                        </div>
                    </div>
                    <div class='xpwindowcontent window{{ win.classname }}content'>

                        {% include 'homepage/' + win.template %}

                    </div>
                </div>

                {% endfor %}

            </div>

            <script>
                const windowtemplates = {{ windows | tojson }}
                console.log(windowtemplates)
                const xpwindows = Array.from(document.getElementsByClassName('xpwindow'))
                const titleBar = document.getElementById('headerbar1')
                const canvas = document.getElementById("canvas");
                const ctx = canvas.getContext("2d");

                function focusWindow(e) {
                    const element = e.currentTarget

                    let largestZIndex = 2
                    xpwindows.forEach(el => {

                        if(Number(el.style.zIndex) > largestZIndex) {
                            largestZIndex = Number(el.style.zIndex)
                        }
                    })

                    element.style.zIndex = largestZIndex + 1
                }

                function dragElement(elmnt) {
                    var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
                    if (document.getElementById(elmnt.id + "header")) {
                        // if present, the header is where you move the DIV from:
                        document.getElementById(elmnt.id + "header").onmousedown = dragMouseDown;
                    } else {
                        // otherwise, move the DIV from anywhere inside the DIV:
                        elmnt.onmousedown = dragMouseDown;
                    }

                    function dragMouseDown(e) {
                        e = e || window.event;
                        e.preventDefault();
                        elmnt.style.opacity = 0.8
                        // get the mouse cursor position at startup:
                        pos3 = e.clientX;
                        pos4 = e.clientY;
                        document.onmouseup = closeDragElement;
                        // call a function whenever the cursor moves:
                        document.onmousemove = elementDrag;
                    }

                    function elementDrag(e) {
                        e = e || window.event;
                        e.preventDefault();

                        // calculate the new cursor position:
                        pos1 = pos3 - e.clientX;
                        pos2 = pos4 - e.clientY;
                        pos3 = e.clientX;
                        pos4 = e.clientY;

                        // set the element's new position. ignore if it's out of frame on the Y axis:
                        if (e.clientY > 0) {elmnt.style.top = (elmnt.offsetTop - pos2) + "px";}
                        elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";

                    }

                    function closeDragElement() {
                        // stop moving when mouse button is released:
                        document.onmouseup = null;
                        document.onmousemove = null;
                        elmnt.style.opacity = 1
                    }
                }

                xpwindows.forEach(element => {
                    dragElement(element)
                    element.addEventListener('mousedown', focusWindow)

                    let retryAttempts = 0
                    function randomisePosition() {

                        function getRandomInt(max) {
                            return Math.floor(Math.random() * max);
                        }

                        element.style.right = getRandomInt(window.innerWidth) + 'px'
                        element.style.bottom = getRandomInt(window.innerHeight) + 'px'

                        const position = element.getBoundingClientRect()
                        if (position.top < 1 | position.left < 1 | position.right < 1 | position.bottom < 1){
                            retryAttempts = retryAttempts + 1
                            /// this just stops it from freaking out whenever the view has
                            /// got too small
                            if (retryAttempts < 5) {
                                randomisePosition()
                            }
                        }
                    }

                    randomisePosition()
                })

                /// cursor targeting logic
                function resizeCanvas() {
                    const dpr = window.devicePixelRatio || 1;
                    const rect = canvas.getBoundingClientRect();

                    canvas.width = rect.width * dpr;
                    canvas.height = rect.height * dpr;

                    ctx.scale(dpr, dpr);
                }

                resizeCanvas();
                window.addEventListener("resize", resizeCanvas);


                document.addEventListener("mousemove", handleMouseMove);
                function handleMouseMove(event) {
                    console.log(window, event)
                    const rect = canvas.getBoundingClientRect();
                    const x = event.clientX - rect.left;
                    const y = event.clientY - rect.top;
                    const coordsdiv = document.getElementById('mousecoords')

                    ctx.clearRect(0, 0, canvas.width, canvas.height);
                    ctx.strokeStyle = "rgba(0, 0, 0, 0.2)";

                    const circleSize = 10

                    // Vertical line
                    ctx.beginPath();
                    ctx.moveTo(x, 0);
                    ctx.lineTo(x, y - circleSize);
                    ctx.stroke();

                    ctx.beginPath();
                    ctx.moveTo(x, y + circleSize);
                    ctx.lineTo(x, canvas.height);
                    ctx.stroke();

                    // Horizontal line
                    ctx.beginPath();
                    ctx.moveTo(0, y);
                    ctx.lineTo(x - circleSize, y);
                    ctx.stroke();

                    ctx.beginPath();
                    ctx.moveTo(x + circleSize, y);
                    ctx.lineTo(canvas.width, y);
                    ctx.stroke();

                    ctx.strokeStyle = "rgba(0, 0, 0, 0.2)";
                    // circle
                    ctx.beginPath();
                    ctx.arc(x, y, circleSize + 1, 0, 2 * Math.PI);
                    ctx.stroke();


                    coordsdiv.innerHTML = x + ', ' + y
                }

            </script>
            </div>
        </main>
    </body>
</html>
