
{% extends "base.html" %}

{% block extra_css %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/poetry.css') }}">

{% endblock %}

{% block content %}

<div id='poetryWrapper'>
    <div id='poemDisplaySquare'>
        <div id='poem'>
        </div>

        <canvas id="canvas"></canvas>
    </div>
    <button id='back'>
        <span>LAST<span>
    </button>
    <button id='forward'>
        <span>NEXT<span>
    </button>

</div>


<script>




const poems = [
     `
            <h1>4d acoustics</h1>
            <p>
                Recurring infernos determine environs<br>
                Inspectors arretez in-vivo.<br>
                Refrains regaine ground &amp;, co-sined, arc around<br>
                Xor to a point.<br>
                <i>'We are Lost! Saved! Lost! Saved!'</i>
            </p>
            <p>
                You can't go home again<br>
                &nbsp;&nbsp;&nbsp;&nbsp;can't see home again<br>
                &nbsp;&nbsp;&nbsp;&nbsp;can't picture home again<br>
            </p>
            <p>
                When at home, you are transformed<br>
                &nbsp;&nbsp;&nbsp;&nbsp;(It will have come when you least expect).<br>
                A copy of a copy (re)produced;<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;double stamped;<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;done twice.<br>
                The CC FWD FYI,<br>
                The OC RTS. (Referent Exiled).
            </p>
            <p>
                Audiophile full stack acquired,<br>
                Retroflectors input to RCA.<br>
                I lay myself in her coma<br>
                I've got a second date in '61<br>
                (One ventures from home on the thread of a tune).<br>
                Come down Halley's daughter, (when you're ready),<br>
                Come back to me.
            </p>
    `, `
            <h1>field notes on seirênes temptationis</h1>
            <p>
                drawn to life and (pre)determined to drown<br>
                'lash me to the mast lads!<br>
                stuff my ears with wax<br>
                and deliver me from her vile call'<br>
                with every thrash against his bounds his command withers<br>
                and his crew begin to whisper:<br>
            </p>
            <p>
                'I walk freely and hear her song<br>
                I have no desire to join her clan<br>
                her calls are an unordered din<br>
                what does it say of our captain that<br>
                he desires her call so badly<br>
                is he Mad?<br>
                how can this 'man' lead us?'<br>
            </p>
            <p>
                until by measures they cut him loose<br>
                (or he slips his bounds)<br>
                an act of mutiny<br>
                (or mercy)<br>
            </p>
            <p>
                the men will curse her name at port<br>
                and a disgraced funeral will be held<br>
            </p>
            <p>
                but our sire survives still, upon the shore, singing.<br>
                for a sirens life cycle is not to (f/br)eed<br>
                but to find her kin, and draw them in.<br>
            </p>
    `,`
        <h1>ISOLATION ANTEBELLUM</h1>
        <h2>OH KAPITÄN</h2>
        <p>LOBOTOMY IS THE OPTIMAL MODE OF ANTEBELLUM EXISTENCE.<br>
        SUBJECTIVITY IS CONDITIONAL ON AN UNBROKEN NARRATIVE.<br>
        ANTICIPATING OBSERVATION YOU MADE A SMALL SCALPEL CUT. <br>
        BY YOUR AUTOCOSTECTOMY INDISTINCT TESTAMENT FORMATS<br>
        TO CHAPTER AND VERSE. <br>
        UNWISE IMPULSE IS GIFTED A HOMUNKUBERNETES TO OBEY. <br>
        SHE IS OF (Y)OUR FLESH (THOUGH SHE CONTAINS THE WORLD), <br>
        AND COACHES YOUR ACTION (IN THEIR RE-ACTION). <br>
        THUS THE FEMALE DOUBLE LIFE, <br>
        TO ESCORT YOUR IMAGE, <br>
        (AND TO BE ESCORTED BY YOUR IMAGE), <br>
        MAKES GENERAL <br>
        (AND IS MADE GENERAL).
        </p>

    `,`
        <h1>ISOLATION ANTEBELLUM</h1>
        <h2>PAYLOAD</h2>
        <p>ESCAPE VELOCITY EJECTS YOU FROM THE ORBIT OF YOUR LOVER.  <br>
        SPRINTING INTO THE DARK, YOU SING THE LAST WORDS YOU SPOKE TO HIM,  <br>
        AND TRACE HIS FADING TRANSPONDER.  <br>
        RETURNING A CENTURY LATER, YOUR MANTRA IS WARPED  <br>
        BY CORRUPTION AND STELLAR RADIATION.  <br>
        SEA FOAM AND PHLEGM EXPLODE FROM YOUR MOUTH<br>
        AND ILLUMINATE YOUR RELUCTANT SLINGSHOT.  <br>
        JETTISONED BACKWASH RE-ENTERS AN EMPTY STAGE.


        </p>

`,`

        <h1>ISOLATION ANTEBELLUM</h1>
        <h2>QUICK MARCH</h2>
<p>YOU DON'T THINK ABOUT WHERE YOU'RE GOING IN YOUR HOMETOWN. <br>
COMMUTERS BEAT THEIR RAT LINES TO WORK AND VICE. <br>
THIS FUGUE MARCH CLEARS LAND IN THE MIND FOR TRADE, SEX AND SLEEP. <br>
IT TAKES SKILL TO STARE AHEAD AND KNOW WHATS BEHIND YOU, AND YOU'VE MASTERED IT. <br>
YOUR LEGS PREDICT EVERY LATE TRAIN AND DANCING MAN. <br>
YOUR HEART BEATS WITH YOUR STEP. <br>
MUNDANE DISRUPTION IS EXPECTED AND REQUIRED. <br>
ONLY VIOLENT INTERLOPERS REMIND YOU TO BREATHE.
</p>

`,`

        <h1>ISOLATION ANTEBELLUM</h1>
        <h2>0746</h2>
        <p>YOU STOP DEAD AND IMAGINE YOURSELF IN A PAINTING. <br>
        BEFORE YOUR POISED STANCE, THE RIVERS LATEST TENANTS PRESS DOWN ON THE SILT. <br>
        BANK PIGEONS DIVE AND MUDLARK VICARIOUSLY. HIGH BEAMS SWEEP THE TRACKS <br>
        AND PICK YOU OUT. SOON YOU WILL BE HUNG IN A GALLERY, <br>
        YOUR AURA SINGULAR AND UNIQUE. <br>
        CROWDS ADMIRE YOUR EMPTY CUP BEHIND REINFORCED GLASS.
        </p>
 `,`

        <h1>ISOLATION ANTEBELLUM</h1>
        <h2>CONTACT / A BITE</h2>
        <p>(YOUR ARRIVAL STIRS THE POT). AN (ALGEDONIC) INTERLOP(RET)ER <br>
        CAUGHT WITHIN (Y)OUR SKIN. CAMERAS CANNOT CAPTURE THE DISCREPANCY. <br>
        UPON CELLULOITE YOU CAMOFLARE AND VANISH. ONLY IN MOTION <br>
        DOES THE PROTECTIVE PARENT CATCH (Y)OUR SECOND SKIN UNDULATING BENOW. <br>
        (A WARY EYE MAY FOREVENT THE CUCCOONS RUPTURE AND PROCEPT US FROM GOD-KNOWS-WHAT). <br>
        OBSCURED AND UNSEEN IN OUR HERMITPHAGE MOULTULATION CONCLUDES. <br>
        WHAT EMERGES IS WHAT WAS THERE BEFORE. THE AUDIENCE FEEL THEIR SKIN TURN <br>
        AND WATCH THEMSELVES.
        </p>
 `,`

        <h1>ISOLATION ANTEBELLUM</h1>
        <h2>THRESHOLD / GSW</h2>
        <p>RETURNING FROM EPIPHANY THE EXIT WOUND SCABS. <br>
        AFTER EVISCERATION A CHANGELING PRINCE PIPS, <br>
        SKINNED NEWSPRINT. HIS IMPOSITION MARCHES THE RACE-TRACK <br>
        AND POST-OPTS OUR HOARSE VOICE. <br>
        CLAIMING KINDNESS COMRADES CHARGE TO SETTLE DEBTS. <br>
        PROPRIOCONCEPTION’S PRECEPTS’ RECONSTITUTION PROCEEDS PENDING ABDICATION.
        </p><p>
        TO LIVE, WE MUST THROTTLE THIS TENDER SURGEON!
        </p><p>
        PLACE TWO FINGERS IN THE WOUND AND PULL! <br>
        RUB HOT COALS AND MUD IN THE ICHOR!<br>
        COMPEL COMPLICITY FROM YOUR ELDERS AND BETTERS!<br>
        DISMISS AND DESTROY YOUR SENILE SERVANT!<br>
        BLUDGEON YOUR DOGTOOTH!<br>
        </p><p>
        SOON WE WILL LEARN TO SEW, THEN SCULPT, THEN SPEAK.<br>
        OUR EXPECTED FORM WALKS BACKWARDS THROUGH TIME,<br>
        HER FACE CARVED UPON A SILVER COIN.<br>
        </p><p>
        IT IS AS IF YOU REMEMBER (Y)OUR LOVER.

        </p>
 `

 ]



const poetryWrapper = document.getElementById('poetryWrapper')
const poetryDiv = document.getElementById('poemDisplaySquare')
const poem = document.getElementById('poem')
const canvas = document.getElementById('canvas')
const ctx = canvas.getContext("2d");

poem.innerHTML = poems[0]


function setMods() {
    plusorminus1 = Math.random() < 0.5 ? -1 : 1; // decides if we want the movement positive or negative
    plusorminus2 = Math.random() < 0.5 ? -1 : 1; // decides if we want the movement positive or negative
    plusorminus3 = Math.random() < 0.5 ? -1 : 1; // for h, s, and l in turn
    plusorminus4 = Math.random() < 0.5 ? -1 : 1; // for h, s, and l in turn
    plusorminus5 = Math.random() < 0.5 ? -1 : 1; // for h, s, and l in turn
    plusorminus6 = Math.random() < 0.5 ? -1 : 1; // for h, s, and l in turn
    plusorminus7 = Math.random() < 0.5 ? -1 : 1; // for h, s, and l in turn
 }

setMods()


function invertNumber(number) {
     if (number > 0) {
         number = number * -1
     } else {
         number = Math.abs(number)
     }
     return number
 }

let baseh = 45
let bases = 6
let basel = 12
let baseh2 = 45
let bases2 = 6
let basel2 = 12
let mouseX = 0
let mouseY = 0
let deg = 45
const goldenh = 45
const goldens = 72
const goldenl = 89
let cherenkov = 0
let transform = 1
//const goldenh = 134
//const goldens = 17
//const goldenl = 17
function clamp(num, min, max) {
  return num <= min
    ? min
    : num >= max
      ? max
      : num
}

function animateGradient() {

    const now = new Date()
    const secs = now.getSeconds()
    const millisecs = now.getMilliseconds()

    const msps = (secs * 1000) + millisecs // milliseconds elapsed in the minute

    if (secs === 0) {setMods()} // reset every minute

    const mod = 0.1

    baseh = (baseh  + mod * plusorminus1)
    bases = (bases  + (mod / 5) * plusorminus2)

    baseh2 = (baseh2  + mod * plusorminus4) // this is hacky but the global scope here is doing my nut in
    bases2 = (bases2  + (mod / 5) * plusorminus5)

    if (baseh > 365) {baseh = 0}
    if (baseh < 0) {baseh = 365}

    if (baseh2 > 365) {baseh2 = 0}
    if (baseh2 < 0) {baseh2 = 365}

    if (bases > 15 || bases < 0) {plusorminus2 = invertNumber(plusorminus2); bases = 1}
    if (bases2 > 15 || bases2 < 0) {plusorminus5 = invertNumber(plusorminus5); bases2 = 1}

    // Lightness from distance
    const divRect = poem.getBoundingClientRect();
    const centreX = divRect.left + (divRect.right - divRect.left) / 2;
    const centreY = divRect.top + (divRect.bottom - divRect.top) / 2;
    const distance = Math.abs(mouseX - centreX) + Math.abs(mouseY - centreY);

    const maxDistance = clamp(poetryDiv.offsetHeight * transform, 100, 99999);
    let opacity = Math.max(0, 1 - (distance / maxDistance));
    poem.style.opacity = opacity * 2;

    const effectiveLightDistance = 400 * transform
    let inverse = (100 / effectiveLightDistance) * (effectiveLightDistance - distance / 2);
    if (inverse < 0) {inverse = 0}
    cherenkov = inverse * 1.5

    const t = (inverse / 100)  // normalize 0–100 → 0–1

    h  = baseh  + (goldenh  - baseh)  * t
    s  = bases  + (((goldens  - bases)  * t) * 0.75)
    l  = basel  + (goldenl  - basel)  * t

    h2 = baseh2 + (goldenh  - baseh2) * t
    s2 = bases2 + (((goldens  - bases2) * t) * 0.75)
    l2 = basel2 + (goldenl  - basel2) * t
    deg = deg + ((mod * plusorminus7))
    if (deg < 0) {deg = 365}
    if (deg > 365) {deg = 0}

     //console.log(Math.trunc(baseh),Math.trunc(bases),Math.trunc(basel),Math.trunc(baseh2),Math.trunc(bases2),Math.trunc(basel2))
    let bgDarknessMod = ((100 - inverse) * 0.25) + 2
    let bgSatMod = 0.75

    // console.log(mod, h,s,l)
    poetryDiv.style.backgroundImage = `linear-gradient(${deg}deg, hsl(${h}, ${s}%, ${l}%), hsl(${h2}, ${s2}%, ${l2}%)`
    poetryWrapper.style.backgroundImage = `linear-gradient(${deg + 90}deg, hsl(${h}, ${s * bgSatMod}%, ${bgDarknessMod}%), hsl(${h2}, ${s2 * bgSatMod}%, ${bgDarknessMod}%)`

    requestAnimationFrame(animateGradient);

}

requestAnimationFrame(animateGradient);





function clearCanvas() {

    ctx.clearRect(0, 0, canvas.width, canvas.height);
}

function drawLine(startX, startY, endX, endY) {

    ctx.beginPath();
    ctx.setLineDash([]);
    ctx.moveTo(startX, startY);
    ctx.lineTo(endX, endY);
    ctx.stroke();
}

function drawCircle(x, y, radius) {

    // circle
    ctx.beginPath();
    ctx.setLineDash([]);
    ctx.arc(x, y, radius, 0, 2 * Math.PI);
    ctx.stroke();
}
function randomInt(min, max) { // min and max included
  return Math.floor(Math.random() * (max - min + 1) + min);
}

function resizeCanvas() {
    const dpr = window.devicePixelRatio || 1;
    const rect = canvas.getBoundingClientRect();
    canvas.width = rect.width * dpr;
    canvas.height = rect.height * dpr;
    ctx.scale(dpr, dpr);
}

window.addEventListener('resize', resizeCanvas);

let staticDrawn = 0
function drawStatic() {
    clearCanvas();

    const w = canvas.offsetWidth;
    const h = canvas.offsetHeight;

    const radiation = clamp((((cherenkov * cherenkov) / 1200000) * (canvas.width * canvas.height)), 0, 70000);
    const longstaticamount = 5000;
    const shortstaticamount = 3000;

    ctx.strokeStyle = `hsl(${goldenh} ${goldens}% ${goldenl}% / 0.015)`;
    ctx.beginPath();
    for (let i = 0; i < longstaticamount; i++) {
        const x = randomInt(-10, w);
        const y = randomInt(-10, h);
        ctx.moveTo(x, y);
        ctx.lineTo(x + randomInt(5, 20), y);
    }
    ctx.stroke();

    ctx.strokeStyle = `hsl(${goldenh} ${goldens}% ${goldenl}% / 0.1)`;
    ctx.beginPath();
    for (let i = 0; i < shortstaticamount; i++) {
        const x = randomInt(-10, w);
        const y = randomInt(-10, h);
        ctx.moveTo(x, y);
        ctx.lineTo(x + randomInt(1, 3), y);
    }
    ctx.stroke();

    ctx.strokeStyle = `hsl(0 0% 0% / 0.2)`;
    ctx.beginPath();
    for (let i = 0; i < radiation; i++) {
        const x = randomInt(-10, w);
        const y = randomInt(-10, h);
        ctx.moveTo(x, y);
        ctx.lineTo(x + 1, y);
    }
    ctx.stroke();

    requestAnimationFrame(drawStatic);
}

drawStatic()
let prevInverse = 0

function isMouseOverDiv() {
    const rect = poetryDiv.getBoundingClientRect()
    return mouseX >= rect.left && mouseX <= rect.right && mouseY >= rect.top && mouseY <= rect.bottom
}

let pdivheight = poetryDiv.offsetHeight;
let pdivwidth  = poetryDiv.offsetWidth;
let leftCompensateAmount = 0
let topCompensateAmount = 0

/// growing the box and tuning in the writing.
/// the bwo is what remains when you take everything away. let intensity = 0
/// why two clearly distinguished phases, when the same thing is done in both cases, sewing and flogging?
/// one phase is for the fabrication of the bwo, the other to make something circulate upon it or pass upon it.
/// the same procedures are nevertheless used in both cases, but they must be done over, done twice.
/// you can fail twice, but it is the same failure, the same danger.

setInterval(function() {
    const growRate = 0.025
    const maxGrowAmount = 1.5
    const minGrowAmount = 0.25
    const shrinkRate = 0.25

    const style = getComputedStyle(poetryDiv);
    const maxW = parseFloat(style.maxWidth);
    const maxH = parseFloat(style.maxHeight);
    const minW = parseFloat(style.minWidth);
    const minH = parseFloat(style.minHeight);


    if (isMouseOverDiv()) {

        let growAmount = (pdivheight * growRate) / 6
        growAmount = Math.min(Math.max(growAmount, minGrowAmount), maxGrowAmount)

        if (pdivheight < maxH) {
            pdivheight += growAmount
            poem.style.top = (parseFloat(poem.style.top || 0) + growAmount / 2) + 'px'
        }

        if (pdivwidth < maxW) {
            pdivwidth += growAmount
            poem.style.left = (parseFloat(poem.style.left || 0) + growAmount / 2) + 'px'
        }

    } else {

        if (pdivheight > minH) {
            pdivheight = pdivheight - shrinkRate
            poem.style.top = (parseFloat(poem.style.top || 0) - shrinkRate / 2) + 'px'
        }

        if (pdivwidth > minW) {
            pdivwidth = pdivwidth - shrinkRate
            poem.style.left = (parseFloat(poem.style.left || 0) - shrinkRate / 2) + 'px'
        }

    }

    poetryDiv.style.height = pdivheight + 'px'
    poetryDiv.style.width = pdivwidth + 'px'
    canvas.style.height = pdivheight + 'px'
    canvas.style.width = pdivwidth + 'px'
    resizeCanvas()

    poetryDiv.style.border = `3px inset hsl(${h},${s}%,${l + 2}%) `


}, 16)




function handleMouseMove(e) {

    mouseX = e.clientX
    mouseY = e.clientY
    // Parallax
    const Xdiff = poem.offsetWidth / window.innerWidth;
    const Ydiff = poem.offsetHeight / window.innerHeight;
    const inverseX = (window.innerWidth - mouseX) * Xdiff;
    const inverseY = (window.innerHeight - mouseY) * Ydiff;
    poem.style.left = `${(inverseX - poem.offsetWidth / 2) + 40}px`;
    poem.style.top  = `${(inverseY - poem.offsetHeight / 1.5) }px`;
 }





document.addEventListener("mousemove", e => {
     handleMouseMove(e)
});




const forward = document.getElementById('forward')
const back = document.getElementById('back')
let activePoem = 0

forward.addEventListener('click', e => {
    activePoem++
    if (activePoem >= poems.length) {activePoem = 0}
    poem.innerHTML = poems[activePoem]
 })

back.addEventListener('click', e => {
    activePoem--
    if (activePoem < 0) {activePoem = poems.length - 1}
    poem.innerHTML = poems[activePoem]
 })

document.getElementById('poetryWrapper').addEventListener('wheel', e => {
  e.preventDefault()
})


poetryDiv.addEventListener('wheel', e => {
    e.preventDefault()

    transform = clamp(transform + e.deltaY * -0.0002, 0.5, 1)
    poem.style.transform = `scale(${(transform)})`

})
</script>

{% endblock %}
