{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/reading.css') }}">
{% endblock %}

{% block content %}


<style>

#imageWrapper {
    background:  url('{{ url_for("static", filename="resources/images/core/galleryBG.png") }}');
    background-position: center;
}

.bookSpine {
    background: linear-gradient(#00000000, #00000010), url('{{ url_for("static", filename="resources/images/about/distressedPaperTexture.png") }}');
    background-position: center;
}

#bookshelfWrapper {
    background: linear-gradient(#00000020, #00000055), url('{{ url_for("static", filename="resources/images/about/bookshelfBackground.png") }}');
    background-position: center;
}

</style>

<div id="content">
    <div id='seperator'></div>
    <div id="bookshelfOuterWrapper">
        <div id="bookshelfWrapper">
            {% for book in books %}
            <div class='bookSpine' id="{{ book['title']|replace(' ','') }}" style='
            background-color: {{ book["mainColor"] }};
            color: {{ book["accentColor"] }};
            padding-left: {{ book["pages"] / 45 }}px;
            padding-right: {{ book["pages"] / 45 }}px'
            data-index='{{ loop.index0 }}'
            data-pages='{{ book["pages"] }}'
            data-fonttype='{{ book["fontStyle"] }}'>
                <span class="bookTitle">{{ book['title'] }}</span>
                <span class="bookAuthor">{{ book['author'] }}</span>
            </div>
            {% endfor %}
            <p id="mapquote">the map is not the territory...</p>
        </div>
    </div>
    <div id="rightHandSideWrapper">
        <div id="bookInfo">
            <h1 id='bookTitle'></h1>
            <h3 id="bookAuthor"></h3>
            <i id="readDate"></i>
        </div>
    </div>
</div>
<script>

function getRandomInt(min, max) {
  const minCeiled = Math.ceil(min);
  const maxFloored = Math.floor(max);
  return Math.floor(Math.random() * (maxFloored - minCeiled) + minCeiled); // The maximum is exclusive and the minimum is inclusive
}

function getRandomArbitrary(min, max) {
  return Math.random() * (max - min) + min;
}

function randomiseBook(book) {

    const title = book.querySelector('.bookTitle')
    const author = book.querySelector('.bookAuthor')

    // randomizing basic attributes. these are obvious.
    book.style.zIndex = `${getRandomInt(3,80)}`
    book.style.border = `${getRandomInt(1,3)}px outset #00000080`
    book.style.marginLeft = `${getRandomInt(0,4)}px`
    book.style.borderRadius = `${getRandomInt(0,4)}px`

    // setting very small book rotations
    alignments = ['end', 'start', 'center']
    book.style.alignItems = `${alignments[getRandomInt(0,alignments.length)]}`
    let direction = ''
    if (getRandomInt(0,2) == 1) {direction = '-'}
    book.style.setProperty('--book-rotate', `${direction}${getRandomArbitrary(0.000, 0.0019)}turn`);


    // setting padding on the top and bottom
    title.style.paddingTop = `${getRandomInt(0,13)}px`
    author.style.paddingBottom = `${getRandomInt(0,10)}px`


    // randomising font. we should have this be configurable soon.
    let fontType = 'Imperator, serif'
     console.log(book.dataset.fonttype)
    if (book.dataset.fonttype == 'ss') {fontType = 'Gill Sans, sans-seri'}
    book.style.fontFamily = fontType
}


function setScalableBookAttributes(book) {

    const title = book.querySelector('.bookTitle')
    const author = book.querySelector('.bookAuthor')

    const minTitleSize = 10
    const bookSizeModifier = 0.55
    const maxTitleSize = 40 * bookSizeModifier

    const minFontWeight = 300
    const maxFontWeight = 600

    const maxBookRaise = 35
    const minBookRaise = 5
    pages = book.dataset.pages

    // setting title and author size

    titleSize = Math.round((pages / getRandomArbitrary(3, 6)) * 0.2)  * bookSizeModifier
    if (titleSize < minTitleSize) {titleSize = minTitleSize}
    if (pages < 90) {titleSize = 8}
    if (titleSize > maxTitleSize || pages > 400) {titleSize = maxTitleSize}
    if (pages < 90) { book.style.alignItems = 'center'}

    authorSize = (titleSize - getRandomInt(0,5)) * bookSizeModifier
    if (authorSize < 7) {authorSize = 7}

    title.style.fontSize = `${titleSize}px`
    author.style.fontSize = `${authorSize}px`

    // setting font weight

    fontWeight = getRandomArbitrary(0,9) * (pages / 3)
    console.log(fontWeight, pages)
    if (fontWeight < minFontWeight) {fontWeight = minFontWeight }
    if (fontWeight > maxFontWeight) {fontWeight = maxFontWeight }
    fontWeight = Number(fontWeight)
    book.style.fontWeight = fontWeight

    // setting height

    const bookPxWidth = (pages / 8) * bookSizeModifier
    const bookPxHeight = getRandomInt(550,700) * bookSizeModifier

    book.style.height = `${bookPxHeight}px`
    book.style.width = `${bookPxWidth}px`

     // setting raise amount
    let raiseAmount = ((getRandomArbitrary(3, 4) / pages) * 600)
    if (raiseAmount > maxBookRaise) {raiseAmount = maxBookRaise; console.log( 'capped max raise')}
    if (raiseAmount < minBookRaise) {raiseAmount = minBookRaise; console.log( 'capped min raise')}
    book.style.setProperty('--book-raise', `-${raiseAmount}px`);

 }

function addShelves() {
    const wrapper = document.getElementById('bookshelfWrapper');
    const books = Array.from(document.querySelectorAll('.bookSpine'));
    // Remove existing shelves first
    document.querySelectorAll('.shelf').forEach(shelf => shelf.remove());

    if (books.length === 0) return;

    let currentBottom = books[0].getBoundingClientRect().bottom

    books.forEach((book, index) => {
        const bookBottom = book.getBoundingClientRect().bottom;
        // If book wrapped to a new line
        if (bookBottom > currentBottom + 10) {
            // Insert shelf before this book
            const shelf = document.createElement('div');
            shelf.className = 'shelf';
            book.parentNode.insertBefore(shelf, book);

            const newBottom = book.getBoundingClientRect().bottom;
            currentBottom = newBottom;
        }
    });

    // Add final shelf at the end
    const finalShelf = document.createElement('div');
    finalShelf.className = 'shelf';
    const mapQuote = document.getElementById('mapquote')
    mapQuote.parentNode.insertBefore(finalShelf, mapQuote)

}


const books = document.querySelectorAll('.bookSpine')

const bookData = [
    {% for book in books %}
    {{ book|tojson|safe }}{% if not loop.last %},{% endif %}
    {% endfor %}
];
const bookshelfWrapper = document.getElementById('bookshelfWrapper')
let currentBook = 0

function loadBook(bookDataObj) {

    const bookAuthor = document.getElementById('bookAuthor')
    const bookTitle = document.getElementById('bookTitle')
    const readDate = document.getElementById('readDate')

    bookTitle.innerText = bookDataObj['title']
    bookAuthor.innerText = bookDataObj['author']
    readDate.innerText = bookDataObj['readDate']
 }

books.forEach(book => {
    randomiseBook(book)
    setScalableBookAttributes(book)

    book.addEventListener('mouseenter', e => {
        const index = book.dataset.index
        bookDataObj = bookData[index]
        loadBook(bookDataObj)
    })
 })

// Add shelves after layout is done
setTimeout(addShelves, 0);

firstBook = bookData[0]
loadBook(firstBook)

// Re-add shelves on window resize
window.addEventListener('resize', addShelves);

</script>

{% endblock %}
