
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ISO | BEL</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/tubesounds.css')}}">
    </head>
    <body>
        <style>

        @font-face {
            font-family: Underground;
            src: url("{{url_for('static', filename='resources/fonts/LondonUndergroundRegular.ttf')}}");
        }

        table {
            border-collapse: collapse;
            font-family: 'Underground'

        }

        #debugDiv {
            background:  url('{{ url_for("static", filename="resources/images/core/galleryBG.png") }}');
            background-position: center;
        }
        </style>
        <div id='debugDiv'>
            <div id='tableDiv'>
                <table id='inTransitTable'></table>
            </div>
            <div id='tableDiv2'>
                <table id='atStationTable'></table>

            </div>
        </div>

        <script src="http://unpkg.com/tone"></script>
        <audio id="beep-sound" src="{{url_for('static', filename='resources/tubesounds/beepdeclined.mp3')}}"></audio>

        <script type='module' src="{{url_for('static', filename='scripts/tubesounds/main.js')}}"></script>
    </body>
</html>
