<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>London Permacomputing Webring</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='webring/onionring.css') }}">
    </head>
    <body>
        <main>
            <h1>London Permacomputing Club Webring</h1>
            <div id='index'>
            <script type="text/javascript" src="https://www.iso-bel.computer/static/webring/onionring-variables.js"></script>
            <script type="text/javascript" src="https://www.iso-bel.computer/static/webring/onionring-index.js"></script>
            </div>

            <table>
                <tr><td>
            <div id='londonpermacomputring'>
            <script>let useLargeWidget = true</script>
            <script type="text/javascript" src="https://www.iso-bel.computer/static/webring/onionring-smallwidget.js"></script>
            <script type="text/javascript" src="https://www.iso-bel.computer/static/webring/onionring-widget.js"></script>
            </div>
            <link rel="stylesheet" href="https://www.iso-bel.computer/static/webring/onionring.css">
            </td></tr><tr><td>
            <pre id='londonpermacomputingwebringcode'>
                {{ '
<div id="londonpermacomputring">
<script>let useLargeWidget = true</script>
<script type="text/javascript" src="https://www.iso-bel.computer/static/webring/onionring-variables.js"></script>
<script type="text/javascript" src="https://www.iso-bel.computer/static/webring/onionring-widget.js"></script>
</div>
<link rel="stylesheet" href="https://www.iso-bel.computer/static/webring/onionring.css">' | e }}
            </pre>
            </td></tr><tr><td>

            <div id='londonpermacomputring'>
            <table>
                <tr>
                <td class='webring-prev'>←</td>
                <td class='webring-info'><img src='https://www.iso-bel.computer/static/webring/flower.png'><img src='https://www.iso-bel.computer/static/webring/flower.png'><img src='https://www.iso-bel.computer/static/webring/flower.png'><br><a href='https://london.permacomputing.net/posts/index.html'>London Permacomputing</a> Webring<br>
                    <span class='webring-links'><a href='https://garlic.garden/onionring/'>what is this?</a> | <a href='https://permacomputing.net'>wiki </a>
                    Random |
                    Index
                    </td></span>
                <td class='webring-next'>→</td>
                </tr>
            </table>
            </div>
            </td></tr><tr><td>
            <pre id='londonpermacomputingwebringcode'>
                {{ '
<div id="londonpermacomputring">
<script>let useLargeWidget = false</script>
<script type="text/javascript" src="https://www.iso-bel.computer/static/webring/onionring-variables.js"></script>
<script type="text/javascript" src="https://www.iso-bel.computer/static/webring/onionring-widget.js"></script>
</div>
<link rel="stylesheet" href="https://www.iso-bel.computer/static/webring/onionring.css">' | e }}
            </pre>
            </td></tr>
        </main>
    </body>
</html>
