<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>London Permacomputing Webring</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='webring/onionring.css') }}">
    </head>
    <body>
        <main>
            <h1>London Permacomputing Club Webring</h1>
            <div id='index'>
            <script type="text/javascript" src="https://www.iso-bel.computer/static/webring/onionring-variables.js"></script>
            <script type="text/javascript" src="https://www.iso-bel.computer/static/webring/onionring-index.js"></script>
            </div>

            <div id='londonpermacomputring'>
            <script type="text/javascript" src="https://www.iso-bel.computer/static/webring/onionring-variables.js"></script>
            <script type="text/javascript" src="https://www.iso-bel.computer/static/webring/onionring-widget.js"></script>
            </div>
            <link rel="stylesheet" href="https://www.iso-bel.computer/static/webring/onionring.css">
            <pre id='londonpermacomputingwebringcode'>
                {{ '<div id="londonpermacomputring">
<script type="text/javascript" src="https://www.iso-bel.computer/static/webring/onionring-variables.js"></script>
<script type="text/javascript" src="https://www.iso-bel.computer/static/webring/onionring-widget.js"></script>
</div>
<link rel="stylesheet" href="https://www.iso-bel.computer/static/webring/onionring.css">' | e }}
            </pre>
        </main>
    </body>
</html>
