<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>London Permacomputing Webring</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='webring/onionring.css') }}">
    </head>
    <body>
        <main>
            <h1>London Permacomputing Club Webring</h1>
            <div id='index'>
            <script type="text/javascript" src="https://www.iso-bel.computer/static/webring/onionring-variables.js"></script>
            <script type="text/javascript" src="https://www.iso-bel.computer/static/webring/onionring-index.js"></script>
            </div>

            <h1>Join the webring</h1>
            <p>To join, just copy the code for one of the widgets to a page on your site (preferably your homepage), and then input that site here. You'll be manually added asap :).</p>
            <div style='flex'>
                <input id='urlbox' type='text' style='margin-right: 5px'><button id='submit' style='margin-right: 5px'>Submit</button><div id='response'></div>
            </div>
            <script>
             const urlBox = document.getElementById('urlbox')
             const submitButton = document.getElementById('submit')
             const responsediv = document.getElementById('response')

             submitButton.addEventListener('click', async function() {
                 const submission = encodeURIComponent(urlBox.value)
                 const response = await fetch(`/webringsubmiturl?url=${submission}`)
                 const json = await response.json()
                 responsediv.innerText = json.response

             })



            </script>




            <table>
                <tr><td style='text-align: left'>
            <div id='londonpermacomputring'>
            <script>let useLargeWidget = true</script>
            <script type="text/javascript" src="https://www.iso-bel.computer/static/webring/onionring-widget.js"></script>
            </div>
            <link rel="stylesheet" href="https://www.iso-bel.computer/static/webring/onionring.css">
            </td></tr><tr><td>
            <pre id='londonpermacomputingwebringcode'>
                {{ '
<div id="londonpermacomputring">
<script>let useLargeWidget = true</script>
<script type="text/javascript" src="https://www.iso-bel.computer/static/webring/onionring-variables.js"></script>
<script type="text/javascript" src="https://www.iso-bel.computer/static/webring/onionring-widget.js"></script>
</div>
<link rel="stylesheet" href="https://www.iso-bel.computer/static/webring/onionring.css">' | e }}
            </pre>
            </td></tr><tr><td style='text-align: left'>

            <div id='londonpermacomputring'>
            <table>
                <tr>
                <td class='webring-prev'>←</td>
                <td class='webring-info'><img src='https://www.iso-bel.computer/static/webring/flower.png'><img src='https://www.iso-bel.computer/static/webring/flower.png'><img src='https://www.iso-bel.computer/static/webring/flower.png'><br><a href='https://london.permacomputing.net/posts/index.html'>London Permacomputing</a> Webring<br>
                    <a>random</a> |
                    <a>index / join</a>
                    </td>
                <td class='webring-next'>→</td>
                </tr>
            </table>
            </div>
            </td></tr><tr><td>
            <pre id='londonpermacomputingwebringcode'>
                {{ '
<div id="londonpermacomputring">
<script>let useLargeWidget = false</script>
<script type="text/javascript" src="https://www.iso-bel.computer/static/webring/onionring-variables.js"></script>
<script type="text/javascript" src="https://www.iso-bel.computer/static/webring/onionring-widget.js"></script>
</div>
<link rel="stylesheet" href="https://www.iso-bel.computer/static/webring/onionring.css">' | e }}
            </pre>
            </td></tr>
        </main>
    </body>
</html>
